/**
 * Default theming for TFK Search components.
 */

/* Featured item */

div#block-tfk-search-tfk-search-photos-video-featured {
  border: 6px solid #D71700;
  padding: 20px 10px 10px;
  position: relative;
}

.top-story-right-square {
  background: url("sites/all/themes/tfk/images/top-story-corner.png") no-repeat scroll 0 0 white;
  height: 38px;
  position: absolute;
  right: -6px;
  top: -6px;
  width: 38px;
  z-index: 2;
}

div#tfk-search-photos-video-featured {
  
  margin-bottom: 15px;
}

div#tfk-search-photos-video-featured .g2 {
  min-height: 267px;
}

div#tfk-search-photos-video-featured div.featured-label {
  background-color: #D71700;
  color: white;
  display: inline;
  font: bold 1.17em Arial;
  height: 14px;
  padding: 2px 6px;
  text-transform: uppercase;
}

div#tfk-search-photos-video-featured .featured-item {
  float: left;
  margin-right: 15px;
}

div#tfk-search-photos-video-featured h2.featured-title {
  font-size: 1.25em;
  margin: 3px 0px 1px;
}

div#tfk-search-photos-video-featured h2.featured-title a {
  font-size: 1.875em;
  color: #D71700;
}

div#tfk-search-photos-video-featured .featured-date {
  margin: 0px;
  margin-bottom: 0px 0px -3px 0px;
}

div#tfk-search-photos-video-featured .featured-dek {
  font-size: 1em;
  margin: 0px 0px -3px 0px;
}

div#tfk-search-photos-video-featured .featured-link {
  margin: 0px;
}



/* Left-rail facets */

div#block-tfk-search-tfk-search-photos-video-title {
   background-color: #D71700;
   color: white;
   font-size: 14px;
   padding-bottom: 4px;
   padding-top: 6px;
   text-align: center;
   font-weight: bold;
}

body.section-photos-video div.region-sidebar-first h2.block-title {
  font-size: 10pt;
}

body.section-photos-video div.region-sidebar-first a.apachesolr-facet:link, 
body.section-photos-video div.region-sidebar-first a.apachesolr-facet:visited {
  font-weight:normal
}

div#block-views-tfk-section-photos-video-block div.views-field-type {
  color: white;
  background-color: #D71700;
  padding: 0px 5px 2px;
}

div#block-views-tfk-section-photos-video-block div.views-field-title a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.22em;
}

div#block-views-tfk-section-photos-video-block  a.tfk_sections_photos_video_view_full_article {
  text-decoration: none;
  color: #D71700;
  font-weight: bold;
  font-size: .90em;
}

div#block-views-tfk-section-photos-video-block div.view-id-tfk_section_photos_video div.views-row {
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
  padding: 6px;
}

div#block-views-tfk-section-photos-video-block div.view-id-tfk_section_photos_video div.views-row-last {
  border-bottom: 2px solid #ccc;
}

div#block-views-tfk-section-photos-video-block div.views-field-field-image img {
  float:left;
  padding-top: 7px;
  margin-right: 7px;
}

div#block-views-tfk-section-photos-video-block div.views-field-body p {
  margin: 0px; padding: 0px;
  font-size: 12px;
}

/* Search results */

ol#tfk-search-results-photos-video {
  border: 1px solid #CECECE;
  padding: 10px;
}

ol#tfk-search-results-photos-video li div.content-type {
  background-color: #D71700;
  color: white;
  font-weight: bold;
  font-size: 1.0em;
  padding: 3.35px 0 2.76px 11px;
  margin-bottom: 7px;
}

ol#tfk-search-results-photos-video li h3.title {
  margin: 0 0 5px 0;
}

ol#tfk-search-results-photos-video li h3.title a:link,
ol#tfk-search-results-photos-video li h3.title a:visited {
  color: black;
  font-size: 1.17em;
}

ol#tfk-search-results-photos-video li.with-image {
  /*min-height: 215px;*/
}

ol#tfk-search-results-photos-video li.search-result {
  min-height: 150px;
}

ol#tfk-search-results-photos-video li.with-image img.thumbnail {
  /*float: left;
  margin-right: 7px;*/
}

li.tfk-search-result {
	margin: 0 0 10px 0;
}

.row2 {
	margin: 0pt;
}

.col1 {
	float: left;
	margin: 0px;
	min-height: 118.2px;
}

.col2 {
  display: inline-block;
  width: 360px;
  margin: 0 0 0 10px;
}

ol#tfk-search-results-photos-video li.tfk-search-result .col2 h3.title a {
  color: #D71700;
  font-size: 1.5em;
  font-weight: bold;
}


/* Top pager */

div#tfk-search-pager-top {
  background-color: #E6E6E6;
  min-height: 30px;
  padding: 8px 0px 7px 10px;
	margin-bottom: 7px;
}

div#tfk-search-pager-top div.sp-top {
  margin: 0px;
}

div#tfk-search-pager-top h2 {
  display: inline;
  font-size: 1.5em;
  margin: 0px;
}

div#tfk-search-pager-top .sp-bottom {
  margin: 3px 0 0 0;
}

div#tfk-search-pager-top div.item-list ul.pager {
  clear: none;
  margin: 0px;
  text-align: right;
}

div#tfk-search-pager-top h2,
div#tfk-search-pager-top span.sp-top-list {
	
}

div#tfk-search-pager-top span.sp-top-list, 
div#tfk-search-pager-top div.item-list, 
div#tfk-search-pager-top ul.pager {
  width: 260px;
}

div#tfk-search-pager-top span.sp-top-list {
  float: right;
  padding-right: 5px;
	margin-top: 3px;
}

div#tfk-search-pager-top a:link, 
div#tfk-search-pager-top a:visited {
	font-weight: normal;
	font-size: 0.92em;
}

div#tfk-search-pager-top .item-list ul li {
	margin: 0 0 0 1px;
}

/* Related Content Featured item*/

div#featured-related-content-title {
	font-size: 1em;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
}

div#featured-related-content {
  margin: 0px 0px 0px 0px;
}

div.addit-related-articles {
  font-size: 0.92em;
}


div#featured-related-content {
  padding: 3px 0px 3px 7px;
}

div#featured-related-content .addit-related-articles-label,
div#featured-related-content .addit-related-articles-title,
div#featured-related-content .addit-related-articles-download {
  display: inline;
  margin-right: 5px;
}

div#featured-related-content .addit-related-articles .addit-related-articles-label {
  font-weight: bold;
}

div#featured-related-content .addit-related-articles-label {
  font-weight: bold;
}

div#featured-related-content .addit-related-articles .addit-related-articles-title {
  font-size: 0.92em;
}

div#featured-related-content .addit-related-articles .addit-related-articles-download {
  color: #eb1c24;
}

/**
 * Photos and Videos Favorites 
 */
body.section-photos-video ol#tfk-search-results-photos-video .search-result-links {
  margin-top: 15px;
  text-align: right;
}

li.search-result .flag-favorites {
  display: inline-block;
  background: url("/sites/all/modules/custom/tfk_search/images/star-favorite-icon.png") no-repeat;
  padding-left: 18px;
  height: 20px;
}
