div {
  visibility: hidden;
  position: absolute;
}

#aplus-final-step div {
  visibility: visible;
  position: static;
}

body.node-type-a-paper #content #homework-help-content #aplus-final-step {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 2em;
  line-height: 2em;
}

body.homework-helper #content #aplus-final-step h2.node-title {
  padding: 0;
  position: absolute;
}

body.node-type-a-paper #content #aplus-final-step .paper-textarea {
  width: 100%;
}