/* $Id: style.css,v 1.53 2011/01/04 06:23:29 dries Exp $ */

/* ---------- Overall Specifications ---------- */
#header {
	background-image: none;
	background-color: green;
}

#sidebar-first #block-views-destinations-block-1 {
    background-color: #ccff99;
    border-color: pink;
}