/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}

#block-tfk-helper-tfk-helper-login {
	display:none;
}

/* search box */
#search-form {
  display: block;
  float: left;
  width: 190px;
  height: 32px;
  margin: 0;
}

#search-form .form-item {
  margin: 0;
}

#search-form .form-text {
  display: block;
  float: left;
  width: 110px;
  height: 11px;
  font: normal 11px arial, san-serif;
  font-style: italic;
  color: #555;
  padding: 5px 6px;
  margin: 5px;
  border-top: solid 1px #999;
  border-left: solid 1px #999;
  border-right: solid 1px #cecece;
  border-bottom: solid 1px #cecece;
  background: #dedede;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

#search-form .form-submit {
  display: block;
  float: left;
  width: 52px;
  margin: 4px 0;
}





#block-search-form form.search-form {
  display: block;
  /*float: left;*/
  /*width: 190px;*/
  height: 25px;
  margin: 0;
}

#block-search-form .form-item {
  margin: 0;
}

#block-search-form .form-text {
  display: block;
  width: 95px;
  height: 11px;
  float: left;
  font: normal 11px arial, san-serif;
  font-style: italic;
  color: #555;
  padding: 5px 6px;
  margin: 0 5px 0 0;
  border-top: solid 1px #999;
  border-left: solid 1px #999;
  border-right: solid 1px #cecece;
  border-bottom: solid 1px #cecece;
  background: #dedede;
  border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

#block-search-form .form-submit {
  display: block;
  float: left;
  width: 44px;
  margin: 0;
}
