
/**
 * Theming for photos-video node pages.
 */

div.region-sidebar-top {
  float: left;
  margin-right: 8px;
  position: relative;
  width: 250px;  
}

/* Override first sidebar properties */
body.node-type-slideshow div.region-sidebar-first div.section,
body.node-type-video div.region-sidebar-first div.section {
  background: none;
  border: none;
  padding: 0;	
}

/* And apply selectively to each block */
div#block-tfk-helper-featured-block-sidebar-slideshow {
  background: none repeat scroll 0 0 #E6E6E6;
  border: 1px solid #CECECE;
  padding: 10px 0 10px 10px;
}

div#block-tfk-search-tfk-search-photos-video-back {
  background-color: #D71700;
  padding: 10px 0pt 8px 8px;
	margin-bottom: 10px;
}

#tfk-search-back-link div#back-btn-img {
  background: url("../images/back-to-all-photos-and-video-button.png") no-repeat scroll 0px 8px transparent;
  float: left;
  margin-right: 5px;     
  height: 30px;
  width: 10px;
}

div.featured-block-sidebar-link a {
	color: #d71700;
}

div#block-tfk-search-tfk-search-photos-video-back a {
  color: white;
}

/* Video */
.node-video.view-mode-full .credit,
.node-video.view-mode-full .caption {
  text-align: right;
  font: normal 9px arial;
  color: #999;
}

.node-video.view-mode-full .cap-credit {
  font: normal 11px arial;
  color: #999;
  text-align: right;
  padding-right: 5px;
}

/* Override header element and remove ATW background image */
div#slideshow-container div#slideshow div.header {
	background: none;
}

/* Photos and Video-specific Related Content styling */
.node-type-video .addit-related-articles-title,
.node-type-slideshow .addit-related-articles-title {
  display: inline;
}

.node-type-video .addit-related-articles-label,
.node-type-slideshow .addit-related-articles-label{
  padding-right: 10px;
  display: inline;
}

.node-type-video .related-content-wrap,
.node-type-slideshow .related-content-wrap {
	margin-top: 5px;
}

.node-type-video #featured-related-content-title,
.node-type-slideshow #featured-related-content-title {
	font-size: 1.08em;
	font-weight: bold;
	margin-top: 20px;
}

