body {
    color: rgb(51, 51, 51);
    font-family: arial,sans-serif;
}

::selection {
    color: white;
    background: #d71700;
    text-shadow: none;
}

a {
    color: #d71700;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-bottom: 5px;
    font-size: 30px;
}

h2 {
    margin-bottom: 5px;
    font-size: 14px;
}

h2 p {
    margin: 0;
}

object {
    display: none;
}

#wrapper {
    width: 1120px;
    margin: 0 auto;
    line-height: 1.3em;
}

#body {
    font-size: 13px;
}

#byline {
    font-size: 10px;
    padding-bottom: 10px;
    border-bottom: dotted 1px #cecece;
    margin-bottom: 20px;
}

#logo {  
    width: 200px;
    height: 75px;
    margin: 50px auto;
    background-repeat: no-repeat;
    display: block;
}

#footer {
    border-top: dotted 1px #cecece;
    padding-top: 4px;
    margin-top: 20px;
}

#footer a {
    font-size: 11px;
    text-decoration: none;
    color: #d71700;
    font-weight: normal;
}

#footer a:hover {
    text-decoration: underline;
}

.author {
    font-weight: bold;
}

.big-photo {
    float: left;
    margin-right: 25px;
    margin-bottom: 15px;
}

.inline-img {
    padding: 15px;
    padding-top: 4px;
}

.caption, .credit {
    font-size: 10px;
    line-height: 1.3em;
    max-width: 488px;
}

.caption p, .credit p {
    margin: 0;
}

.credit {
    text-align: right;
    padding-right:5px;
}

.date {
    color: rgb(153, 153, 153);
    text-transform: uppercase;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

