.more-items-content {
	vertical-align: top;
}

.more-items-col {
  vertical-align: top;
  display: block;
  margin-right: 5px;
  float: left;
}

.more-items-col .more-items-item-title{
	width: 115px;
	padding-top: 5px;
}

#more-items {
  border: 1px solid #CECECE;
  padding: 10px 9px;
  min-height: 200px;
}

#more-items h2 {
  margin: 0 0 9px 0px;
}

#more-items div.more-items-content {
  text-align: center;
}