/**
 * @file
 * CSS targeted specifically for Internet Explorer 7 (and earlier) for Windows.
 *
 * Any CSS in this file will apply to all versions of IE before IE 8. You can
 * target specific versions of IE by using conditional comments. See your
 * sub-theme's .info file for an easy way to use them.
 */


/*
 * Tabs
 */

ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab {
  cursor: pointer;
}

/*
 * Drupal nodes
 */

.node-unpublished>* {
  position: relative; /* Otherwise these elements will appear below the "Unpublished" text. */
}

/*
 * Drupal admin tables
 */
tr.even th,
tr.even td,
tr.odd th,
tr.odd td {
  border-bottom: 1px solid #ccc; /* IE doesn't display borders on table rows */
}
.view-kid-reporters-channel-top-story .related-content-wrap,
.view-homepage-top-story .related-content-wrap,
.view-teacher-news-top-story .related-content-wrap {
	position: absolute;
        left:10px;
}

#block-views-minisite-articles-block-1 table {
  border-collapse: separate;
}

/* Homespace secondary tout spacing*/
.view-homepage-news-block table td.col-1, .view-teacher-news-news-block table td.col-1, .view-kid-reporters-channel-news-block table td.col-1 {
    position:relative;
    left:-3px;
}
.view-homepage-news-block table td.col-2, .view-teacher-news-news-block table td.col-2, .view-kid-reporters-channel-news-block table td.col-2 {
    position:relative;
    right:-3px;
}
.view-homepage-news-block table, .view-teacher-news-news-block table, .view-kid-reporters-channel-news-block table {
    border-collapse: separate;
}
.view-homepage-destination {
    margin-top:2px;
    padding-bottom: 27px;
}
/*homepage main image*/
#block-views-minisite-articles-block-2 .views-field-field-lrg-sq-image, #block-views-minisite-articles-block-3 .views-field-field-lrg-sq-image, .view-homepage-top-story .views-field-field-lrg-sq-image, .view-teacher-news-top-story .views-field-field-lrg-sq-image, .view-kid-reporters-channel-top-story .views-field-field-lrg-sq-image {
    left: -10px;
    position: relative;
    top: -21px;/*1 pixel off in ie7*/
}
/*secondary images hp/news */

.view-homepage-news-block table td .views-field-field-lrg-rect-image img, .view-teacher-news-news-block table td .views-field-field-lrg-rect-image img, .view-kid-reporters-channel-news-block table td .views-field-field-lrg-rect-image img {
    position: relative;
    top: -1px;/*1 pixel off in ie7*/
    border:0;
}
.view-homepage-news-block table td .views-field-field-lrg-rect-image, .view-teacher-news-news-block table td .views-field-field-lrg-rect-image, .view-kid-reporters-channel-news-block table td .views-field-field-lrg-rect-image {
    border: none;
}

.view-homepage-destination .views-field-field-image {
    border:none;
}
.view-homepage-destination .views-field-field-image img {
    position:relative;
    top:-1px;
    border:0;
}
.view-homepage-news-block table td .views-field-name, .view-teacher-news-news-block table td .views-field-field-article-category .field-content, .view-kid-reporters-channel-news-block table td .views-field-name {
    z-index:100px;
}
/*photo-video landing page*/
div#tfk-search-photos-video-featured div.g1 {
    zoom:1;
    display: inline;
}
#tfk-search-photos-video-featured div.g2 {
    zoom:1;
    display: inline;
}
div#tfk-search-photos-video-featured div.featured-label {
    width:60px;
}
/*Magazine Archive*/
.pubcal-link .right {
    margin-top:-18px;
}
/*info pages*/
.info-issue {
    zoom:1;
    display: inline;
}
/* Spacing for the Featured story blocks */
#block-views-minisite-articles-block-2 .views-field-title-1,
#block-views-minisite-articles-block-3 .views-field-title-1,
.view-homepage-top-story .view-content .views-field-title-1,
.view-homepage-top-story .view-content .views-field-title-2,
.view-teacher-news-top-story .view-content .views-field-title-1,
.view-kid-reporters-channel-top-story .views-field-title-1 {
	display: inline;
	margin-left:5px;
}

/* Flashcards */
.flashcard-numbering {
  left: 160px;
}

.js .flashcard-cycle-pager {
  margin-left: 0;
}

.view-flashcard-landing-page.view-id-flashcard_landing_page .ui-accordion-content .field-content, .view-flashcard-landing-page.view-id-flashcard_landing_page.view-display-id-page_2 .field-content {
  background-image: url("../images/card_icon.png");
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 70px;
  min-height: 35px;
}

.flashcard-cycle-mark {
  position: static;
  margin-top: -350px;
  margin-left: 20px;
  width: 100%;
}

#block-views-minisite-articles-block table,
#block-views-minisite-articles-block-1 table {
	border-collapse: separate;
}
