/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#main-wrapper #main #navigation {
	display: none;
}

#navigation {
  margin-bottom: 10px;
}

#navigation ul.links, /* Main menu and secondary menu links */
#navigation .content ul /* Menu block links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation ul.links li, /* A simple method to get navigation links to appear in one line. */
#navigation .content li {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}

.region-navigation {
}

/*
 * Main menu and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
  float: right;
  display: none;
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks
 *
 * Drupal core has limited ways in which it can display its menus. To get around
 * these limitations, see http://drupal.org/project/menu_block
 */
.block-menu-block {
}

#navigation, 
#navigation .section, 
#navigation .section .region {
	width: 100%;
	height: 64px;
	z-index: 100;
}

.section #main-menu.links {
	display: none;
}

#global-nav-container,
#teacher-nav-container {
	height: 32px;
	margin: 0;
}

#global-nav-container {
	width: 950px;
	margin: 0 auto;
}

#global-nav-container .block-title,
#teacher-nav-container .block-title {
	display: none;
}

#teacher-nav-container {
	width: 100%;
	background: -moz-linear-gradient(100% 100% 90deg,  #94bcd8, #acdbfc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#acdbfc), to(#94bcd8));
	background: -webkit-linear-gradient(#acdbfc, #94bcd8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#acdbfc, endColorstr=#94bcd8);
}

#teacher-nav-container .inner {
	width: 950px;
	margin: 0 auto;
	height: 32px;
}

#block-menu-menu-tfk-global-navigation,
#block-menu-menu-tfk-teachers-menu {
	margin: 0;
}

#global-nav-container ul.menu,
#teacher-nav-container ul.menu {
	list-style-type: none;
	height: 32px;
}

#global-nav-container ul.menu {
	width: 950px;
}

#teacher-nav-container .inner #block-views-homepage-username-block,
#teacher-nav-container .inner #block-block-3 ,
#teacher-nav-container .inner #block-block-11 {
	height: 32px;
	float: left;
	width: 150px;
	margin: 0;
}

#teacher-nav-container .inner .content .field-content,
#teacher-nav-container .inner .content p {
	margin: 0;
	height: 20px;
	padding: 6px 0;
	font: bold 14px "Times New Roman";
	font-style: italic;
	color: #555;
}

#teacher-nav-container .inner .content p a {
	font: normal 12px arial;
	height: 16px;
	padding: 2px 0;
	color: #d71700;
	text-decoration: none;
}

#teacher-nav-container ul.menu {
	width: 650px;
	float: left;
	height: 32px;
}

#teacher-nav-container ul.menu li.leaf, 
#global-nav-container ul.menu li.leaf {
	float: left;
	padding: 0;
}

#teacher-nav-container ul.menu li.leaf a, 
#global-nav-container ul.menu li.leaf a {
	display: block;
	float: left;
	height: 32px;
	font-size: 0px;
}

#global-nav-container ul.menu a.news {
	width: 50px;
	background: url(../images/main-nav-sprite.png) no-repeat 0px 0px;
}

#global-nav-container ul.menu a.news:hover {
	background: url(../images/main-nav-sprite.png) no-repeat 0px -32px;
}

#global-nav-container ul.menu a.kid-reporter {
	width: 114px;
	background: url(../images/main-nav-sprite.png) no-repeat -50px 0px;
}

#global-nav-container ul.menu a.kid-reporter:hover {
	background: url(../images/main-nav-sprite.png) no-repeat -50px -32px;
}

#global-nav-container ul.menu a.atw {
	width: 158px;
	background: url(../images/main-nav-sprite.png) no-repeat -164px 0px;
}

#global-nav-container ul.menu a.atw:hover {
	background: url(../images/main-nav-sprite.png) no-repeat -164px -32px;
}

#global-nav-container ul.menu a.homework-helper {
	width: 152px;
	background: url(../images/main-nav-sprite.png) no-repeat -322px 0px;
}

#global-nav-container ul.menu a.homework-helper:hover {
	background: url(../images/main-nav-sprite.png) no-repeat -322px -32px;
}

#global-nav-container ul.menu a.photos-video {
	width: 132px;
	background: url(../images/main-nav-sprite.png) no-repeat -474px 0px;
}

#global-nav-container ul.menu a.photos-video:hover {
	background: url(../images/main-nav-sprite.png) no-repeat -474px -32px;
}

#global-nav-container ul.menu a.tfk-extras {
	width: 94px;
	background: url(../images/main-nav-sprite.png) no-repeat -606px 0px;
}

#global-nav-container ul.menu a.tfk-extras:hover {
	background: url(../images/main-nav-sprite.png) no-repeat -606px -32px;
}

#global-nav-container ul.menu a.store {
	width: 60px;
	background: url(../images/main-nav-sprite.png) no-repeat -700px 0px;
}

#global-nav-container ul.menu a.store:hover {
	background: url(../images/main-nav-sprite.png) no-repeat -700px -32px;
}

#teacher-nav-container ul.menu {
	float: right;
	width: 622px;
	height: 32px;
	background: -moz-linear-gradient(100% 100% 90deg,  #5ea1d3, #7bc3f5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7bc3f5), to(#5ea1d3));
	background: -webkit-linear-gradient(#7bc3f5, #5ea1d3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7bc3f5, endColorstr=#5ea1d3);
}

#teacher-nav-container ul.menu li a {
	display: block;
	float: left;
	height: 32px;
	border-left: solid 1px #67b1e4;
	border-right: solid 1px #d5ebfb;
	cursor: pointer;
}

#teacher-nav-container ul.menu a.tfk-magazine {
	width: 110px;
	background: url(../images/sub-nav-sprite.png) no-repeat 0px 0px;
}

#teacher-nav-container ul.menu a.tfk-magazine:hover {
		background: url(../images/sub-nav-sprite.png) no-repeat 0px -32px
}

#teacher-nav-container ul.menu a.worksheets {
	width: 100px;
	background: url(../images/sub-nav-sprite.png) no-repeat -114px 0px;
}

#teacher-nav-container ul.menu a.worksheets:hover {
	background: url(../images/sub-nav-sprite.png) no-repeat -114px -32px;
}

#teacher-nav-container ul.menu a.teacher-community {
	width: 148px;
	background: url(../images/sub-nav-sprite.png) no-repeat -214px 0px;
}

#teacher-nav-container ul.menu a.teacher-community:hover {
	background: url(../images/sub-nav-sprite.png) no-repeat -214px -32px;
}

#teacher-nav-container ul.menu a.digital_edition {
	width: 116px;
	background: url(../images/sub-nav-sprite.png) no-repeat -368px 0px;
}

#teacher-nav-container ul.menu a.digital_edition:hover {
	background: url(../images/sub-nav-sprite.png) no-repeat -368px -32px;
}

#teacher-nav-container ul.menu a.subscribe-renew {
	width: 136px;
	background: url(../images/sub-nav-sprite.png) no-repeat -488px 0px;
}

#teacher-nav-container ul.menu a.subscribe-renew:hover {
	background: url(../images/sub-nav-sprite.png) no-repeat -488px -32px;
}

/* Footer Nav */
.region-footer ul.menu {
	display: inline-block;
	list-style-type: none;
	padding: 4px 0;
	margin: 0 auto;
	height: 18px;
}

.last .region-footer ul.menu {
	border-top: solid 1px #fff;
}

.region-footer ul.menu li {
	float: left;
	padding: 2px 8px;
	border-right: solid 1px #fff;
}

.region-footer ul.menu li.last {
	border-right: none;
}

.region-footer ul.menu li a {
	color: #fff;
	text-decoration: none;
}
