/* Suggestion Box */
.suggestion-box {
  background: none repeat scroll 0 0 #D9EFFE;
  border: 3px solid #ACDBFC;
  box-shadow: 2px 2px 4px #666666;
  margin-bottom: 15px;
  padding: 2px 4px;
  position: relative;
}
.suggestion-box .msg {
  float: left;
  font-size: 11px;
  font-weight: bold;
}
.suggestion-box .link {
  border-left: 1px solid #666666;
  float: left;         
  font-size: 11px;
  font-weight: bold;
  margin-left: 3px;
  padding-left: 5px;
}

#top.suggestion-box .link {
  margin-left: 2px;
  padding-left: 2px;
}

#bottom-suggestion-box {
  padding: 6px 6px 4px 6px;
  height: 68px;
}

#bottom-suggestion-box .link {
  font-size: 0.92em;
  display: block;
  border: 0;
  position: absolute;
  width: 100%;
  top: 60px;
  margin: 0px;
  padding: 0px;
  float: none;
}

#bottom-suggestion-box .msg {
	float: none;
}

.suggestion-box .link a {
  background: url('/sites/all/modules/custom/tfk_teachers_community/images/right-arrow.png') 215px 50% no-repeat;
  display: block;
  width: 230px;  
}

#bottom-suggestion-box .link a {
  margin-left: 44%;
  width: 252px;
  background: url("/sites/all/modules/custom/tfk_teachers_community/images/right-arrow.png") no-repeat scroll 100% 50% transparent;
}

/* The node view page has a different selector */
body.page-node .suggestion-box .link a {
	background: url('/sites/all/modules/custom/tfk_teachers_community/images/right-arrow.png') 100% 50% no-repeat;
	/*IE7*/*background: url('/sites/all/modules/custom/tfk_teachers_community/images/right-arrow.png') 215px 50% no-repeat;
	width: 106%;
	/*IE7*/*width: 230px; 
}

#bottom-suggestion-box .link {
  display: block;
  border: 0;
}

#bottom-suggestion-box .link a {
  margin-left: 51%;
  width: 228px;
  background: url("/sites/all/modules/custom/tfk_teachers_community/images/right-arrow.png") no-repeat scroll 100% 50% transparent;
}

body.page-views #bottom-suggestion-box .link a,
body.page-node #bottom-suggestion-box .link a {
  margin-left: 45%;
  width: 250px;
  padding-right:10px;
  background: url("/sites/all/modules/custom/tfk_teachers_community/images/right-arrow.png") no-repeat scroll 100% 50% transparent;
/*	*background: url("/sites/all/modules/custom/tfk_teachers_community/images/right-arrow.png") no-repeat scroll 95% 50% transparent;*/
}
body.page-views #bottom-suggestion-box .link a {
    margin-left: 42%;
}

/* 17C Suggestion Box pager */
.view-id-teacher_community_topic_list .item-list ul li {
  margin: 0 0 0 .50%;
}

.view-id-teacher_community_topic_list .item-list ul.pager {
	text-align: right;
	margin-top: 7px;
}

.suggestion-box-wrapper.bottom {
	padding: 12px 3% 0 2.5%; 
	border: 2px solid #CECECE;
	border-top: none;
}

/* Topic List (17C) */

div.view-id-teacher_community_topic_list .view-content {
  border: 2px solid #CECECE;
}

div.view.view-id-teacher_community_topic_list .views-field-title {
  font-size: 20px;
  line-height: 20px;
}

div.view.view-id-teacher_community_topic_list .views-field-view-node {
  margin-top: 14px;
}

div.view.view-id-teacher_community_topic_list .views-row {
  padding: 10px;
}

div.view.view-id-teacher_community_topic_list .views-row {
  border-bottom: 2px solid #CECECE;
}

div.view.view-id-teacher_community_topic_list .views-row-last {
  border-bottom: none;
}

div.view.view-id-teacher_community_topic_list .views-field-name, 
div.view.view-id-teacher_community_topic_list .views-field-created,
div.view.view-id-teacher_community_topic_list .views-field-comment-count {
	color: #333;
	font-weight: bold;
	font-size: 11px;
        line-height:15px;
}

body.page-teacher-community-topic-list .region-sidebar-first .section {
  background: none;
  border: none;
  padding: 0;
}

body.node-type-teacher-community-question div.region-sidebar-first div.section {
	background: none;
	border: none;
	padding: 0;
}

/* "More Topics from Teachers" Block. */
#block-tfk-teachers-community-tfk-teachers-comm-more-topics {
  background: none repeat scroll 0 0 #D9EFFE;
  border: 1px solid #CECECE;
  padding: 10px;
}

#block-tfk-teachers-community-tfk-teachers-comm-more-topics h3,
#block-views-board-members-block-2 h3{
  background-color: #D71700;
  color: white;
  margin: 0;
  padding: 5px 0 3px;
  text-align: center;
  font: normal 12px "arial black", arial, sans-serif;
}

#block-tfk-teachers-community-tfk-teachers-comm-more-topics .item-list ul li {
  margin: 10px 0pt 0px 0;
  padding: 0 0 7px 0;
  border-bottom: 1px dotted #CECECE;
}

#block-tfk-teachers-community-tfk-teachers-comm-more-topics div.btn_link {
	text-align: right;
	margin-top: 15px;
}



/* View existing comments */

body.page-node-add-teacher-community-question #block-system-help h2 {
  color: #D71700;
  font-size: 20pt;
  font-weight: bold;
  margin: 10px 0 0 0;
}

.node-teacher-community-question .question-date {
	line-height: 100%;
	font-size: 10px;
}

body.page-node-add-teacher-community-question #block-system-help p {
  margin: 10px 0 0 0;
}

form#teacher-community-question-node-form label[for="edit-title"], div#block-system-main h2.comments_header_title {
  background-color: #D71700;
  color: white;
  /*margin-bottom: 14px;*//*Taken out per tfks212*/
  padding: 5px 0 3px 10px;
	font: normal 12px "arial black", arial, sans-serif;
}

form#teacher-community-question-node-form div#edit-actions,
div.node-teacher-community-question.view-mode-full form#comment-form div#edit-actions {
  text-align: right;
}

form#teacher-community-question-node-form div.form-type-textarea {
  margin-bottom: 15px;
}

div#block-system-main div.node-teacher-community-question.view-mode-full {
  border: 1px solid #CCCCCC;
  padding: 7px 5px 5px 7px;
}

div#block-system-main div.node-teacher-community-question.view-mode-full h2.node-title {
  margin: 20px 0 10px;
  font-size: 30px;
  line-height: 100%;
  color: #D71700;
  font-weight: bold;
}


div#block-system-main h2.comments_header_title {
  font: normal 12px "Arial Black", Arial, sans-serif;
}
div#block-system-main div.node-teacher-community-question.view-mode-full div.col1-wrapper {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  width: 100px;
  /* IE7 - doesn't do inline-block properly - next two lines fix it*/
  zoom:1;
  *display:inline;
}

div#block-system-main div.node-teacher-community-question.view-mode-full .even div.col1-wrapper {

}

div#block-system-main div.node-teacher-community-question.view-mode-full .comment {
	padding-top: 13px;
}

div#block-system-main div.node-teacher-community-question.view-mode-full .even.comment {
  margin-top: 11px;
}

div#block-system-main div.node-teacher-community-question.view-mode-full .first {
  margin-top: 0;
}

div#block-system-main div.node-teacher-community-question.view-mode-full .last.comment {
  margin-bottom: 11px;
}

div.node-teacher-community-question.view-mode-full .col1 a img {
	margin-bottom: 10px;
}

div#block-system-main div.node-teacher-community-question.view-mode-full div.col2-wrapper {
  border-left: 1px solid #CCCCCC;
  display: inline-block;
  margin: 0 0 12px 20px;
  padding-left: 10px;
  vertical-align: top;
  width: 330px;
  /* IE7 - doesn't do inline-block properly - next two lines fix it*/
  zoom:1;
  *display:inline;
}
div#block-system-main div.node-teacher-community-question.view-mode-full div.col2-wrapper col2 {
  margin: 0;
  vertical-align: top;
}
div.field-name-comment-body p:first-child {
  margin-top: 0;
}

div.field-name-comment-body {
	line-height: 15px;
}

div.comment .author-profile-link {
	margin-top: 13px;
}

div.comment.even {
  border: 1px solid #CCC;
  background: none repeat scroll 0 0 #D9EFFE;
}

.comment ul.links.inline {
  text-align: right;
  margin-top: 21px;
  line-height: 100%;
  /*IE7*/*line-height: 110%;
}

body.page-node-add-teacher-community-question #page_pre_section { 
	font-size: 20px;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}

body.page-node-add-teacher-community-question #content .section > h2 {
	font-size: 28px;
	line-height: normal;
	margin: 0 0 10px 0;
	color: #333;
}

body.page-node-add-teacher-community-question #content .section {
	border: 1px solid #CECECE;
	padding: 10px;
}

.view-id-teacher_community_topic_list .item-list ul li,
.view-id-teacher_community_topic_list .item-list ul li a {
	color: #D71700;
}

/* Board Members Block (override) */
#block-views-4dd757237991afc15893b55c57cc03ef {
	border: 1px solid #CECECE;
	padding: 9px;
}

body.page-teacher-community-topic-list .view-board-members .view-header {
  border: 0;
  padding: 0;
}

body.page-teacher-community-topic-list .view-board-members .view-header p {
	line-height: 130%;
}

body.page-teacher-community-topic-list .view-board-members .view-header h3 {
  line-height: 100%;
	font: normal 12px "Arial Black", arial;
	color: #333;
	text-transform: uppercase;
}

#block-views-4dd757237991afc15893b55c57cc03ef h2.block-title {
	line-height: 80%;
	color: #FFF;
	font: normal 12px "Arial Black", arial, sans-serif;
	background-color: #D71700;
	padding: 6px 0 5px 0;
	text-align: center;
	margin: 0 0 10px 0;
}

#block-views-4dd757237991afc15893b55c57cc03ef .view-header h3 {
  margin: 15px 0 8px 0;
  font: normal 12px "Arial Black", arial;
}

#block-views-4dd757237991afc15893b55c57cc03ef .view-header p {
  line-height: 15px;
}

#block-views-4dd757237991afc15893b55c57cc03ef .views-field-title a {
	font-size: 14px;
}

#block-views-4dd757237991afc15893b55c57cc03ef .views-field-field-grade-level,
#block-views-4dd757237991afc15893b55c57cc03ef .views-field-field-location {
	font-weight: bold;
	font-size: 12px;
}

#block-views-4dd757237991afc15893b55c57cc03ef .view-content .views-row {
	min-height: 71px;
        height: auto !important;/*must have this for IE when using min-height*/
        height:71px;
	border-top: 1px dotted #CECECE;
	padding-top: 10px;
	padding-bottom: 10px;
}
#block-views-4dd757237991afc15893b55c57cc03ef .views-field-title {
        font-size:14px;
}
#block-views-4dd757237991afc15893b55c57cc03ef .view-content {
        font-weight:bold;
}
#block-views-4dd757237991afc15893b55c57cc03ef .view-content .views-row-last {
	margin-bottom: 12px;
	border-bottom: 1px dotted #CECECE;
}

#block-views-4dd757237991afc15893b55c57cc03ef .views-field-field-location {
	margin-bottom: 8px;
}

#block-views-4dd757237991afc15893b55c57cc03ef .view-footer {
  text-align: right;
}

.views-field-field-member-photo {
  float: left;
  margin-right: 10px;
  height: 90px;
}

#block-views-4dd757237991afc15893b55c57cc03ef div.view-teacher-board-nodeblock-view div.views-row {
  border: 0;
  margin: 0;
  padding: 0;
  min-height: inherit;
  line-height: 15px;
}
#block-views-4dd757237991afc15893b55c57cc03ef h3 {
	margin: 15px 0 8px 0;
        font: normal 12px "Arial Black", Arial, sans-serif;
}

/* New Comments */
.new-comment-label {
  background-color: #D71700;
  color: white;
  margin-bottom: 11px;
  padding: 5px 0 3px 10px;
  font: normal 12px "arial black", arial, sans-serif;
  margin-top: 10px;
}

/* Misc */
#teacher-community-question-node-form input {
	background: none;
	border: none;
	box-shadow: none;
}

#block-tfk-teachers-community-tfk-teachers-comm-more-topics {
	margin-bottom: 10px;
}

#comment-form .form-item {
	margin: 0px;
}

#comment-form #edit-actions {
	margin-bottom: 7px;
}

.col1-wrapper .author {
	font-weight: bold;
}

.section-teacher-community .item-list .pager-current {
	color: black;
	font-weight: normal;
}