#timeline-container {
	border: solid 1px #cecece;
	padding: 10px;
	position: relative;
}

#timeline-container h1 {
	font: normal 30px arial;
	line-height: 1;
	margin: 4px 0;
}

#timeline-container .field-name-body  p {
	padding-bottom: 10px;
	border-bottom: dotted 1px #cecece;
	margin: 4px 0 10px 0;
}

#timeline-container #event-year {
	display: inline-block;
	position: relative;
	font: normal 14px "arial black";
	border: solid 1px #cecece;
	padding: 6px;
}

#timeline-container #line-above,
#timeline-container #line-below {
	position: relative;
	width: 1px;
	background: #cecece;
	height: 20px;
}

#timeline-container #event-timeline-bar-container {
	height: 19px;
	width: 488px;
}

#timeline-container #event-timeline-bar {
	float: left;
	position: relative;
	height: 7px;
	width: 456px;
	background: #d71700;
	padding: 6px;
	margin: 0;
}

#timeline-container #event-timeline-bar-container #prev, 
#timeline-container #event-timeline-bar-container #next {
	width: 10px;
	height: 19px;
	float: left;
}
/*
#timeline-container #event-timeline-bar-container #prev {
	background: url("../images/timeline-left-arrow.png") no-repeat 0px 6px;
}

#timeline-container #event-timeline-bar-container #next {
	background: url("../images/timeline-right-arrow.png") no-repeat 0px 6px;
}
*/
#timeline-container #event-timeline-bar .event-node {
	float: left;
	height: 7px;
	width: 7px;
	margin: 0 8px;
	background: url("../images/slideshow-white-dot.png") no-repeat;
	cursor: pointer;
}

#timeline-container #event-timeline-bar .event-node.active {
	background: url("../images/slideshow-black-dot.png") no-repeat;
}

#timeline-container #event-container {
	position: relative;
	min-height: 500px;
}

#timeline-container #event-container .event {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
	background: white;
	min-height: 250px;
	border: solid 1px #cecece;
	-moz-box-shadow: 2px 2px 2px #999;
	-webkit-box-shadow: 2px 2px 2px #999;
	box-shadow: 2px 2px 2px #999;
}

#timeline-container #event-container .event .event-image {
	float: left;
	width: 280px;
	height: 200px;
	margin-right: 10px;
}

#timeline-container #event-container .event .event-image  img {
	width: 280px;
	height: 200px;
}

#timeline-container #event-container .event .event-text {
	float: left;
	width: 176px;
}

#timeline-container #event-container .event .event-text h3 {
	font: normal 12px "arial black";
	padding-bottom: 6px;
	border-bottom: dotted 1px #555;
	margin: 0 0 6px 0;
}

