
/**
 * Theming for photos-video node pages.
 */

div.region-sidebar-top {
  float: left;
  margin-right: 8px;
  position: relative;
  width: 250px;  
}

/* Override first sidebar properties */
body.node-type-slideshow div.region-sidebar-first div.section,
body.node-type-video div.region-sidebar-first div.section {
  background: none;
  border: none;
  padding: 0;	
}

/* And apply selectively to each block */
div#block-tfk-helper-featured-block-sidebar-slideshow {
  background: none repeat scroll 0 0 #E6E6E6;
  border: 1px solid #CECECE;
  padding: 10px 0 10px 10px;
}

div#block-tfk-search-tfk-search-photos-video-back {
  background-color: #D71700;
  padding: 10px 0pt 8px 8px;
	margin-bottom: 10px;
}

#tfk-search-back-link div#back-btn-img {
  background: url("../images/back-to-all-photos-and-video-button.png") no-repeat scroll 0px 8px transparent;
  float: left;
  margin-right: 5px;     
  height: 30px;
  width: 10px;
}

div.featured-block-sidebar-link a {
	color: #d71700;
}

div#block-tfk-search-tfk-search-photos-video-back a {
  color: white;
	font: normal 12px "arial black", arial, sans-serif;
	line-height: 118%;
}

/* Video */
.node-video.view-mode-full .credit,
.node-video.view-mode-full .caption {
  text-align: right;
  font: normal 9px arial;
  color: #999;
}

.node-video.view-mode-full .cap-credit {
  font: normal 11px arial;
  color: #999;
  text-align: right;
  padding-right: 5px;
}

/* Override header element and remove ATW background image */
div#slideshow-container div#slideshow div.header {
	background: none;
}

/* Photos and Video-specific Related Content styling */
.node-type-video .addit-related-articles-title,
.node-type-slideshow .addit-related-articles-title {
  display: inline;
}

.node-type-video .addit-related-articles-label,
.node-type-slideshow .addit-related-articles-label{
  padding-right: 10px;
  display: inline;
}

.node-type-video .related-content-wrap,
.node-type-slideshow .related-content-wrap {
	margin-top: 3px;
}

.node-type-video #featured-related-content-title,
.node-type-slideshow #featured-related-content-title {
	margin-top: 20px;
  font: normal 12px "arial black", arial, sans-serif;
}



/* Other stuff */
body.page-node.node-type-slideshow #slideshow-info div.image-date {
  font-size: 10px;
  margin: 0;
	line-height: 15px;
}

body.page-node.node-type-slideshow #slideshow-related-content #featured-related-content-title {
  margin-top: 0px;
  color: #333;
}

body.page-node.node-type-slideshow #slideshow-related-content {
  margin-top: 15px;
}

body.page-node.node-type-slideshow #slideshow-info,
body.page-node.node-type-slideshow .addit-related-articles-label,
body.page-node.node-type-slideshow #block-tfk-helper-more-items-block h2.more-items-label,
#block-system-main .content h2.node-title,
body.page-node.node-type-slideshow #slideshow-container #slide-count {
	color: #333;
}

#block-system-main .content h2.node-title {
	margin: 0 0 5px 0px;
	font-size: 20px;
	font-weight: bold;
	float: left;
}

#block-system-main .content .image-date {
	float: right;
}
#block-system-main .content .date-display-single {
  display: none;
  float: right;
}

body.page-node.node-type-slideshow #block-system-main {
	margin-bottom: 0px;
}

body.node-type-video #block-tfk-helper-more-items-block {
	margin-top: 10px; 
}

/* Icons */
body.section-photos-video .icon {
  height: 24px;
  margin: -34px 0 10px 75px;
  position: relative;
  width: 32px;
  z-index: 2;
}

body.section-photos-video .content-type-slideshow .icon {
  background: url(/sites/all/modules/custom/tfk_search/images/photo-camera-icon.png) no-repeat;
}

body.section-photos-video .content-type-video .icon {
  background: url(/sites/all/modules/custom/tfk_search/images/video-camera-icon.png) no-repeat;
}

body.node-type-slideshow #slideshow-container p a {
  margin-top: 0;
  display: inline;
}
