/**
 * @file
 * Form Styling
 */


.form-item /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1.5em 0;
}

form.webform-client-form .form-type-item /* Wrapper for a form element (or group of form elements) and its label */ {
  margin-top: 10px !important;
  margin-bottom: 0px !important;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 1px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0; /* Drupal core uses "0.4em 0" */
}

.form-submit /* The submit button */ {
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.tips /* Tips for Drupal's input formats */ {
}


/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/*
 * Search (search-block-form.tpl.php)
 */
#block-search-form /* Wrapper for the search form */ {
}


/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left; /* LTR */
}


/*
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

#user-login-form ul /* OpenID creates a new ul above the login form's links. */ {
  margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link /* The "Log in using OpenID" link. */ {
  margin-top: 1.5em;
  margin-left: -20px; /* LTR */ /* Un-do some of the padding on the ul list. */
}

#user-login-form li.user-link /* The "Cancel OpenID login" link. */ {
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0 0 0;
  *margin: 1.5em 0; /* IE7 and below */
}


/*
 * Drupal admin tables
 *
 * We overrode these styles in html-reset.css, but restore them for the admin
 * section of the site.
 */

form th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

form tbody {
  border-top: 1px solid #ccc;
}

form tr.even {
  background-color: #fff;
}

form table .item-list ul {
  margin: 0;
}

/* lightbox login form */
#login-container #login-header {
  font: normal 14px "arial black", arial, sans-serif;
  color: white;
  background: #d71700;
  padding: 10px;
  border: solid 1px #933;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}

#login-header .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  background: url("../images/atw-sightseeing-close.png") no-repeat;
}

#login-form-container {
  float: left;
  width: 295px;
  height: 250px;
  margin: 0 24px 0 5px;
  border-right: dotted 1px #999;
}

#login-container #message-box {
  float: left;
  width: 300px;
  padding: 20px;
  margin: 0 10px 20px 0;
  background: #dedede;
  clear: right;
}

#login-container #message-box #message-header {
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: dotted 1px #999;
  margin-bottom: 10px;
}

#login-container #message-box  ul#message-list {
  list-style-type: disc;
  margin-left: 20px;
}

#login-container #message-box  ul#message-list li {
  line-height: 24px;
  font-size: 11px;
}

#login-container  #login-footer {
  border-top: dotted 1px #cecece;
  padding: 20px 10px 0 10px;
  clear: both;
}

#login-form-container h2 {
  font: bold 20px arial;
  line-height: 20px;
  margin: 0 0 10px 0;
}

#login-form-container p br {
  display: none;
}

#login-form-container a {
  font-weight: normal;
}

#login-form-container .form-item {
  margin: 0 0 10px 0;
}

#login-form-container .form-text {
  border: solid 1px #cfcfcf;
  width: 270px;
}

#login-container .bold {
  font: bold 20px arial;
  line-height: 20px;
}

#login-footer a {
  text-decoration: underline;
}

#login-footer a:first-child {
  margin-right: 150px;
}

#login-container .form-actions a.form-submit:link,
#login-container .form-actions a.form-submit:visited {
  color: #FFF;
}

#login-container .form-actions a.form-submit:hover {
  text-decoration: none;
}

/*Version of the lightbox login form on /user */
.not-logged-in.page-user #login-container {
  height:400px;
  width:680px;
}