body.node-type-a-paper, body.node-type-paper-step
  #content
    font-family: $font-sans
    font-weight: normal
    font-size: $ms-1
    line-height: $ms1
    width: 768px
    #homework-help-content
      position: relative
      padding: 10px 10px 10px 20px
      border: 1px solid #cecece        
      #block-system-main
        +trailer
        a
          margin-right: 10px
        .messages
          width: 440px
          position: absolute
          left: 0
          margin: 0
      .homework-helper-title
        position: absolute
        top: 65px
      .content-type-title
        +homework-helper-title
        font-size: $ms1
        +float-left
        width: 200px
    .paper-textarea
      width: 480px
      padding: 36px 0 12px
      p
        text-indent: 40px
        margin-bottom: 1em
    #aplus-papers-checklist-block
      border: 1px solid #cecece
      list-style: none
      width: 220px
      +float-right
      .aplus-papers-checklist-title
        color: white
        background-color: $tfk-red
        padding: 2px
        font-weight: bold
        text-transform: uppercase
        border: 10px solid #dddddd
        text-align: center
      ul#aplus-papers-checklist
        margin-bottom: 0  
      li
        border-bottom: 1px solid #cecece
        background: #dddddd url(images/checkbox-unchecked.gif)
        background-repeat: no-repeat
        background-position: 0 .5em
        margin: 0
        padding: 10px 35px
        color: $tfk-red
        font-weight: bold
      li.current
        border-bottom: 1px solid #cecece
        background: white url(images/checkbox-unchecked.gif)
        background-repeat: no-repeat
        background-position: 0 .7em
        margin: 0
        padding: 10px 35px
        color: $black
      li.checked
        border-bottom: 1px solid #cecece
        background: white url(images/checkbox-checked.gif)
        background-repeat: no-repeat
        background-position: 0 .7em
        margin: 0
        padding: 10px 35px
        color: $black      
      li.last
        border-bottom: 0
    h2.node-title a
      color: $black
      font-size: $ms2
      line-height: $ms1
    .field-name-field-step-example
      background: #dddddd
      border: 1px solid #cecece
      margin: 10px
      padding: $gutter
      p
        margin-bottom: 0
        font-style: italic
    .form-type-textfield, .form-type-textarea
      background: #dddddd
      padding: 10px
      width: 480px
      margin-top: 0
      clear: left
      border: 1px solid #cecece
      font-size: 14px
      label
        font-size: $ms1
        padding: 0 0 10px
    .aplus-start-button
      margin-left: 213px
      margin-top: 20px
      margin-bottom: 40px
    .aplus-overview
      width: 505px
      font-size: 14px
    .content .content 
      .form-item input
        font-size: 14px
      .content 
        font-size: 14px
    #aplus-submit-buttons
      background: #dddddd
      padding: 10px
      width: 480px
      border: 1px solid #cecece
      height: 25px
      margin-top: -20px
      text-align: right
      +float-left
      .aplus-start-over
        background: url(images/tfk-red-arrow.png)
        background-repeat: no-repeat
        +float-left
        font-style: italic
        font-family: $font-serifs
        color: $tfk-red
        padding: 3px 0 0 42px
        height: 35px
    .node-paper-step
      padding: 10px 0
      width: 500px
      +float-left
      label
        font-size: $ms1
        padding: 0 0 10px 
      h2.node-title
        margin: 0 0 10px 0
    #aplus-review-step, #aplus-final-step
      width: 480px
      +float-left
      margin-top: 10px
      h2.node-title
        margin: 0 0 10px 0
      .a-plus-review-description
        font-weight: bold
        margin-bottom: 10px
      label
        font-size: $ms1
        padding: 0 0 10px
    button,
    input[type="reset"],
    input[type="submit"],
    input[type="button"]
      -webkit-appearance: none
      +border-radius(11px)
      background: $tfk-red url(../images/button.png) repeat-x
      border: 1px solid
      border-color: #ddd #bbb #999
      cursor: pointer
      color: white
      font: normal 12px/1.2 Arial, sans-serif
      outline: 0
      overflow: visible
      padding: 3px 10px 4px
      margin-right: 10px
    a.button
      -webkit-appearance: none
      +border-radius(9px)
      background: $tfk-red url(../images/button.png) repeat-x
      border: 1px solid
      border-color: #ddd #bbb #999
      cursor: pointer
      color: white
      font: normal 12px/1.2 Arial, sans-serif
      outline: 0
      overflow: visible
      padding: 4px 12px 4px
    #aplus-print-save-buttons
      text-align: center
      clear: right
      padding-top: 10px
      width: 230px
      +float-right
      input
        margin-top: 10px
    .paper-title
      font-size: $ms2
      text-align: center
    .paper-date
      +float-right
      font-size: $ms0
    .student-name
      +float-left
      font-size: $ms0
      
body.page-homework-helper-a-plus-papers
  .view-a-papers
    .view-header
      border-bottom: 1px solid #cecece
      padding-bottom: 10px
      padding-left: 15px
      +trailer
      .content-type-title
        +homework-helper-title
        font-size: $ms1
        margin-left: -17px
    .views-row
      padding-left: 135px
      padding-right: 10px
      border-bottom: 1px solid #cecece
      padding-bottom: $baseline
  #block-system-main
    border-top: 1px solid #cecece
    border-right: 1px solid #cecece
    border-left: 1px solid #cecece
    +trailer
    .views-field-title
      a
        font-size: 20px
    .views-field-field-paper-image
      +float-left
      margin: 0 0 0 -125px
    .views-field-nothing
      +leader
      .related-pdfs
        border: 4px solid #addcfa
        background: #ddeeff url(images/pdf-image.png)
        background-repeat: no-repeat
        background-position: 0 .5em
        padding: 5px 5px 5px 30px
        +box-shadow(transparentize($black, 0.5) 0 2px 4px)
        a
          margin-right: 10px
