.view-grammar-practice
  table
    border: 1px solid #cecece
    width: 100%
  tbody
    .views-field
      padding: 20px
  .views-field-title
    font-size: 18px
    font-weight: bold
  tr
    border-bottom: none
    &.odd
      background: white

.page-node-186
  @extend .page-node-99
  .homework-helper-title
    +tfk-header-tag

span.grammar-wizard-incorrect
  color: $tfk-red
