.homework-helper
  #main-wrapper
    .region-sidebar-first .section
      margin-bottom: 10px
  #content
    font-family: $font-sans
    font-weight: normal
    font-size: $ms-1
    line-height: $ms1
    width: 768px
    a.button
      +tfk-submit-button
    a
      &:hover
        color: lighten($tfk-red, 40.0)
    .paper-textarea
      width: 480px
    #block-menu-menu-homework-help
      border: 1px solid #cecece
      background: #ddd
      margin-bottom: 10px
      .content
        .menu
          padding: 10px
        & > .menu
          +clearfix
          padding-bottom: 0
          & > li
            +float-left
            width: 50%
      #menu-writing-center,
      #menu-study-helper
        color: $white
        padding: 10px
        text-transform: uppercase
        display: block
      #menu-writing-center
        background: $tfk-red
        margin-right: 10px
      #menu-study-helper
        background: #999
    #homework-helper-title
      font-size: $ms0
      border-bottom: 0
      padding: 20px
      text-transform: uppercase
    h2.node-title
      +trailer
  .block,
  .node
    margin: 0

// WRITING CENTER LANDING PAGE
.page-node-98,
.page-node-99
  #content
    #homework-help-content
      +trailer
      .img
        img
          +float-left
          margin: 10px
    .homework-helper-title
      text-transform: none
      font-size: $ms4
      font-weight: bold
      margin-bottom: 0
      line-height: 1
      padding: $gutter
    .field-item
      p
        padding: 0 $gutter $gutter $gutter
    p
      margin-top: 0
    .row
      padding: $gutter
      border-top: 1px solid #cecece
      p
        margin-top: 0
        padding: 0
      h2 a
        color: $tfk-red
        font-size: $ms4
        line-height: 120%
        margin: 0
        &:hover
          color: lighten($tfk-red, 40.0)

#homework-help-content
  +clearfix
  border: 1px solid #cecece
  .progress-disabled
    float: none
    display: inline
  .ajax-progress
    font-size: 1.5em
    padding: 30px
    position: fixed
    left: 40%
    top: 40%
    border: 4px solid #addcfa
    background: #ddeeff
    +box-shadow(transparentize($black, 0.5) 0 2px 4px)
  .hh-throbber-message
    width: 130px
