=tfk-button
  +box-shadow(black 2px 2px 10px, lighten($tfk-red, 20%) -3px 3px 5px inset)
  border: none
  outline: 0
  color: white
  cursor: pointer
  overflow: visible

body
  &.node-type-flashcard,
  &.page-flashcard,
  &.page-node-add-flashcard
    &.not-logged-in
      div.tabs
        display: none
    #content
      width: 768px
      #homework-helper-title
        background-image: url(images/tfk-red-tag.png)
        background-repeat: no-repeat
        padding: 13px 0 13px 23px
        height: 23px
        width: 175px
        color: $white
        text-transform: uppercase
        font-weight: bold
        margin-bottom: 0
        position: absolute
        margin-top: 10px
      h2.node-title
        display: none
    .region-content
      border: 1px solid #cecece
    .node-flashcard
      background: transparent url(images/flashcard-background.jpg) repeat
      margin: 60px 10px 10px
      padding: 20px
      .study-helper-help
        clear: both
        margin-top: 1em
      .study-helper-url
        +pie-clearfix
        clear: both
        .form-item
          +float-left
          margin: 0
          input
            background-color: $tfk-red
            border-color: $tfk-red
        #study-helper-copy
          -webkit-appearance: none
          +border-radius(24px)
          background: $tfk-red url(../images/button.png) repeat-x
          +tfk-button
          padding: 0.5em 1em
          margin-left: 1em
          margin-top: 1em
          float: left
.flashcard-cycle
  position: relative
  .flashcard-cycle-mode
    .flashcard-cycle-wrapper
      width: 650px
      text-align: center
      height: 45px
      -webkit-appearance: none
      +border-radius(10px)
      background: $tfk-red url(../images/button.png) repeat-x
      font: normal 12px/1.2 Arial, sans-serif
      padding: 8px 24px
      +tfk-button
      +trailer
    label.flashcard-cycle-mode
      float: left
  a.shuffle,
  a.restart
    -webkit-appearance: none
    +border-radius(24px)
    +tfk-button
    background: $tfk-red url(../images/button.png) repeat-x
    font: normal 12px/1.2 Arial, sans-serif
    padding: 8px 24px
    margin-right: 20px
  .flashcard-cycle-pager
    a
      color: $tfk-red
      +float-left
      padding: 3px
      height: 35px
      width: 51px
      &.prev
        background: url(images/tfk-red-arrow.png) no-repeat scroll 2px 0 transparent
        padding-left: 42px
      &.flip
        -webkit-appearance: none
        +border-radius(14px)
        background: #fff url(../images/button.png) repeat-x
        border: 3px solid $tfk-red
        font: normal 12px/1.2 Arial, sans-serif
        padding: 4px 20px
        width: auto
        height: auto
        margin: 0 25px
        +box-shadow(transparentize($black, 0.5) 0 2px 4px)
      &.next
        background: url(images/tfk-red-arrow-right.png) no-repeat scroll 36px 0 transparent
        padding-right: 42px
  .flashcard-cycle-cards
    background: lighten(yellow, 20.0)
    width: 500px
    text-align: center
    +trailer
    +border-radius(14px)
    +box-shadow(transparentize($black, 0.75) -4px 4px 6px)
    ul.question
      li.answer
        font-size: $ms2
        padding-top: 70px
        text-align: center
        font-weight: bold
        margin: 10px
      .item-list
        ul.answer
          background: white
          width: 325px
          height: 50px
          margin: 10px 0 0 75px
          +border-radius(11px)
          border: 4px solid lighten($black, 60.0)
          li.first
            font-size: $ms2
            padding: 15px
            color: $tfk-red
            margin: 0
  .flashcard-cycle-card
    width: 500px
    height: 250px
  .flashcard-cycle-mark
    position: absolute
    top: 60px
    left: 150px
    z-index: 1
