body
  &.node-type-flashcard,
  &.page-flashcard
    &.not-logged-in
      div.tabs
        display: none
    #content
      width: 768px
      #homework-helper-title
        background-image: url(images/tfk-red-tag.png)
        background-repeat: no-repeat
        padding: 13px 0 13px 23px
        height: 23px
        width: 175px
        color: $white
        text-transform: uppercase
        font-weight: bold
        margin-bottom: 0
        position: absolute
        margin-top: 10px
      h2.node-title
        display: none
    .region-content
      border: 1px solid #cecece
.flashcard-cycle
  margin-top: 40px
  padding: 20px
  position: relative
  .flashcard-cycle-mode
    .flashcard-cycle-wrapper
      width: 650px
      text-align: center
      height: 45px
      -webkit-appearance: none
      +border-radius(10px)
      background: $tfk-red url(../images/button.png) repeat-x
      cursor: pointer
      color: white
      font: normal 12px/1.2 Arial, sans-serif
      outline: 0
      overflow: visible
      padding: 8px 24px
      border: none
      -moz-box-shadow: -2px -2px 10px rgba(0,0,0,0) inset, -3px 3px 4px lighten($tfk-red, 40%) inset
      +trailer
    label.flashcard-cycle-mode
      float: left
  a.shuffle,
  a.restart
    -webkit-appearance: none
    +border-radius(24px)
    background: $tfk-red url(../images/button.png) repeat-x
    cursor: pointer
    color: white
    font: normal 12px/1.2 Arial, sans-serif
    outline: 0
    overflow: visible
    padding: 8px 24px
    margin-right: 20px
    border: none
    -moz-box-shadow: -2px -2px 10px rgba(0,0,0,0) inset, -3px 3px 4px lighten($tfk-red, 40%) inset
  .flashcard-cycle-pager
    .prev
      background: url(images/tfk-red-arrow.png) no-repeat scroll 2px 0 transparent
      float: left
      color: $tfk-red
      padding: 3px 0 0 42px
      height: 35px
      width: 51px
    .flip
      -webkit-appearance: none
      +border-radius(14px)
      background: #fff url(../images/button.png) repeat-x
      border: 3px solid $tfk-red
      cursor: pointer
      color: $tfk-red
      font: normal 12px/1.2 Arial, sans-serif
      outline: 0
      overflow: visible
      padding: 4px 20px
      // width: auto
      margin: 0 25px
      +box-shadow(transparentize($black, 0.5), 0 , 2px, 4px)
    .next
      background: url(images/tfk-red-arrow-right.png) no-repeat scroll 36px 0 transparent
      background-repeat: no-repeat
      float: left
      color: $tfk-red
      padding: 3px
      height: 35px
      width: 100px
  .flashcard-cycle-cards
    background: lighten(yellow, 20.0)
    text-align: center
    +trailer
    +border-radius(14px)
    +box-shadow(transparentize($black, 0.75), -4px , 4px, 6px)
    ul.question
      li.answer
        font-size: $ms2
        padding-top: 70px
        text-align: center
        font-weight: bold
        margin: 10px
      .item-list
        ul.answer
          background: white
          width: 325px
          height: 50px
          margin: 10px 0 0 75px
          +border-radius(11px)
          border: 4px solid lighten($black, 60.0)
          li.first
            font-size: $ms2
            padding: 15px
            color: $tfk-red
            margin: 0
  .flashcard-cycle-card
    width: 500px
    height: 250px
  .flashcard-cycle-mark
    position: absolute
    top: 60px
    left: 150px
    z-index: 1
.view-flashcard-landing-page.view-id-flashcard_landing_page 
  .view-header
    display: block
    width: 250px
    background: #E6E6E6
    padding: 20px
    float: right
    border: 1px solid #CFCFCF
    margin: 0 10px 15px 15px
    .creation-link
      text-align: center
      margin: 10px
      a
        color: white
        background: #D71700
        padding: 5px
        +border-radius(20px)
        -webkit-box-shadow: 2px 2px 2px 2px #999999
        -moz-box-shadow: 2px 2px 2px 2px #999999
        box-shadow: 2px 2px 2px 2px #999999
        margin: 10px
