/**
 * @file Worksheets CSS.
 *   Inherits and overrides tfk_search.css.
 *   Used only for the worksheets page. Do not apply to the Photos and Video
 *   page, since the first sidebar column styles vary significantly in the
 *   worksheets page. 
 */

/**
 * Search results
 */
.search-result div.search-snippet-body {
	margin-top: 10px;
}

.search-result img.thumbnail {
  /*margin-right: 10px;*/
}

.search-result div.view-full-article {
  margin-bottom: 5px;
}

li.search-result .content-type .ctype-suffix {
  float: right;
  padding-right: 10px;
}

.search-results span.flag-favorites {
  float: right;
}

div.search-result-links {
}

body.section-worksheets li.worksheet .col2 {
  display: block;
  width: inherit;
  /* margin: 0 0 0 10px; */
}

li.search-result .flag-favorites {
  display: inline;
  background: url("/sites/all/modules/custom/tfk_search/images/star-favorite-icon.png") no-repeat;
  padding-left: 18px;
  height: 20px;
}

/**
 * Worksheets blocks
 *
 * No margin allowed between left-rail facet blocks in order to make them look
 * like a single, cohesive block. Only use padding to separate these blocks.
 */
body.section-worksheets .region-sidebar-first {

}

body.section-worksheets div.region-sidebar-first div.block,
body.section-worksheets .region-sidebar-first .block h2,
body.section-worksheets .region-sidebar-first .item-list ul li,
body.section-worksheets .region-sidebar-first .item-list ul {
  margin: 0;
}

body.section-worksheets .region-sidebar-first .block h2 {
  /*font: normal 12px "arial black";*/
  background: url("/sites/all/modules/custom/tfk_search/images/facet-arrow-open.png") no-repeat scroll 0 0 transparent;
  line-height: 100%;
  padding-left: 25px;
}

.page-worksheets .region-sidebar-first {
	background-color: #D9EFFE;
	border: 1px solid #CECECE;
	padding: 10px;
}


body.section-worksheets .region-sidebar-first .first.block {  
	/* First block on the region */
	border: 0;
	margin-bottom: 13px;
}

body.section-worksheets .region-sidebar-first .last.block {
	/* Last block on the region */
	border: 0;
}

.block.block-apachesolr-search h2.block-title {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 5px;
}

.block.block-apachesolr-search a.apachesolr-facet {
  color: #000;
  font-size: 12px;
  font-weight: normal;
}

body.section-worksheets .region-sidebar-first .block.block-apachesolr-search {
  padding-top: 5px;
}

#block-apachesolr-search-im-28-field-grade-level.block {
  padding-top: 0px;
}

body.section-worksheets .region-sidebar-first .block.block-apachesolr-search {
  padding-top: 5px;
}

body.section-worksheets .region-sidebar-first .block.block-apachesolr-search li {
  padding-bottom: 1px;
}

#block-tfk-search-tfk-search-ws-leftbar-title div.content {
  padding: 3.35px 0 2.76px 0;
  color: white;
  font: normal 12px "arial black", arial, sans-serif;
  text-align: center;
  background-color: #D71700;
}

body.section-worksheets .region-sidebar-first .section {
  background: none;
  border: 0;
  padding: 0; 
}

.column.sidebar .block-apachesolr-search,
.column.sidebar .block-tfk-search {
  background-color: #D9EFFE;
}

.region-sidebar-first .block {
	border-top: 1px dotted #4E565B;
}

#block-tfk-search-tfk-search-ws-leftbar-title + .block {
  border-top: 0 none;
}

.region-sidebar-first .block .content > .item-list {
  margin-left: 24px;
}

#block-apachesolr-search-im-35-field-skills {
  border-bottom: 0 none;
}

/* When bundle is the last facet block, no border at the bottom */
#block-tfk-search-tfk-search-ws-leftbar-title + #block-apachesolr-search-bundle {
	border-bottom: 0 none;
}


/**
 * Overrides
 */
body.page-worksheets #tfk-search-pager-top {
	background-color: #d9effe;
}

div#tfk-search-pager-top h2 {
  font-size: 20px;
}

.block-apachesolr-search {
	padding-bottom: 5px;
}

/* My Saved Searches */
#block-tfk-search-tfk-search-worksheet-saved.block {
  border: 1px solid #CECECE;
  margin-top: 8px;
  padding: 10px;
  background-color: #FFF;
}

#block-tfk-search-tfk-search-worksheet-saved.block h2 {
  padding: 3.35px 0 2.76px 0;
  color: white;
  font-size: 1em;
  font-weight: bold;
  background-color: #D71700;
  margin: 0 0 10px 0;
  text-align: center;
}

#block-tfk-search-tfk-search-worksheet-saved.block .submbtn {
  text-align: right;
}

#block-tfk-search-tfk-search-worksheet-saved.block #savsearches {
  padding-left: 5px;
  margin-bottom: 10px;
}

/* Save this search */
#block-tfk-search-tfk-search-worksheet-user-save {
  /* padding-top: 9px; */
}

#block-tfk-search-tfk-search-worksheet-user-save .content {
  text-align: right;
}

#block-tfk-search-tfk-search-worksheet-saved.block .savedsrch {
  border-bottom: 1px dotted #A7CAE4;
  padding: 3px 0 7px 0;
  height: 20px;
}

#block-tfk-search-tfk-search-worksheet-saved.block .savedsrch .savedsrch-label {
  float: left;
  padding-top: 2px;
}

#block-tfk-search-tfk-search-worksheet-saved.block .savedsrch .savedsrch-checkbox {
  float: right;
}

#mymodaldiv {
	text-align: center;
}

#mymodaldiv .svd-msg {
	background-color: #D9EFFE;
	border: 1px solid #CECECE;
	margin-bottom: 6px;
	color: #333;
}

/* Modal popup - "Name saved search" */
body.section-worksheets .popups-container {
  padding: 9px;
}

body.section-worksheets .popups-container div.modal-header.popups-title {
  background-color: #D71700;
}

body.section-worksheets .popups-container .svd-srch-desc {
  padding-top: 5px;
}

body.section-worksheets .popups-container label[for=edit-savedname] {
  padding-bottom: 9px;
  float: none;
	font: normal 12px "arial black", arial, sans-serif;
}

body.section-worksheets .popups-container .svd-srch-submit {
  /* text-align: right; */
}

body.section-worksheets .popups-container .svd-srch-submit input {
	border: none;
	background: none;
	box-shadow: none;
        -moz-box-shadow: none;/*needed for FF 3.6*/
}

body.section-worksheets .region-sidebar-first .item-list ul li li {
  margin: 0 0 0 15px;
  padding: 0;
}

div.ctools-sample-modal-content div.popups-title {
	height: 40px;
	padding: 0;
}

.popups-close {
	margin-top: 12px;
	font: normal 12px "arial black", arial, sans-serif;
}
