
/**
 * Featured block CSS.
 */

#block-tfk-helper-featured-block-sidebar-slideshow .col1,
#block-tfk-helper-featured-block-sidebar-video .col1 {
	margin-right: 10px;
}

#block-tfk-helper-featured-block-sidebar-slideshow,
#block-tfk-helper-featured-block-sidebar-video {
  min-height: 155px;
}


div.featured-block-sidebar-label {
  margin-bottom: 10px;
}

div.featured-block-sidebar-label.featured-slideshow {
  background: url("/sites/all/modules/custom/tfk_photos_video/images/featured-slideshow-label.png") no-repeat scroll left top transparent;
}

div.featured-block-sidebar-label.featured-video {
  background: url("/sites/all/modules/custom/tfk_photos_video/images/featured-video-label.png") no-repeat scroll left top transparent;
}

div.featured-block-sidebar-img {
  float: left;
  margin: 0 10px 0 0;
}
div.featured-block-sidebar-img img {
  margin-top: 3px;
}

div.featured-block-sidebar-img a {
  margin: 0px; padding: 0px;
}

div.featured-block-sidebar-title a {
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #D71700;
	font-size: 14px;
}
.featured-block-sidebar-body p:first-child {
  margin-top: 5px;
}

.featured-block-sidebar-link {
	margin-top: 10px;
}
