/* My Favorites */
#block-tfk-favorites-tfk-favorites-links.block {
  margin-top: 8px;
  padding: 0;
  border: none;
}

#block-tfk-favorites-tfk-favorites-links.block h2 {
  font-size: 1em;
  font-weight: bold;  
}

#block-tfk-favorites-tfk-favorites-links.block .header {
  height: 31px;
}

#block-tfk-favorites-tfk-favorites-links.block .content {
  background: url("/sites/all/modules/custom/tfk_search/images/my-favs-block-bg.png") no-repeat;
}

#block-tfk-favorites-tfk-favorites-links.block .body {
  border: 3px solid #ACDBFC;
  border-top: none;  
}

#block-tfk-favorites-tfk-favorites-links.block .header .header-content {
  padding-top: 10px;
  padding-left: 11px;
  font-size: 1em;
  font-family: "arial black", arial, sans-serif;
  vertical-align: middle;
  line-height: 100%;
}

#block-tfk-favorites-tfk-favorites-links.block .body .myfavs {
  padding: 7px 10px 6px 10px;
  text-align: center;
}

#block-tfk-favorites-tfk-favorites-links.block .body .myfavs .view-all {
  margin-bottom: 5px;
}

.block-tfk-favorites {
  background-color: #D9EFFE;
}

#block-tfk-favorites-tfk-favorites-links .myfavs img {
	margin-bottom: 5px;
}