/**
 * Default theming for TFK Search components.
 */
div#block-tfk-search-tfk-search-photos-video-title h2 {
  color: white;
  background-color: #D71700;
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 2px;
}

div#block-views-tfk-section-photos-video-block div.views-field-type {
  color: white;
  background-color: #D71700;
  padding: 0px 5px 2px;
}

div#block-views-tfk-section-photos-video-block div.views-field-title a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.22em;
}

div#block-views-tfk-section-photos-video-block  a.tfk_sections_photos_video_view_full_article {
  text-decoration: none;
  color: #D71700;
  font-weight: bold;
  font-size: .90em;
}

div#block-views-tfk-section-photos-video-block div.view-id-tfk_section_photos_video div.views-row {
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
  padding: 6px;
}

div#block-views-tfk-section-photos-video-block div.view-id-tfk_section_photos_video div.views-row-last {
  border-bottom: 2px solid #ccc;
}

div#block-views-tfk-section-photos-video-block div.views-field-field-image img {
  float:left;
  padding-top: 7px;
  margin-right: 7px;
}

div#block-views-tfk-section-photos-video-block div.views-field-body p {
  margin: 0px; padding: 0px;
  font-size: 12px;
}

/* Search results */

ol#tfk-search-results-photos-video {
  border: 1px solid #CECECE;
  padding: 6.7px;
}

ol#tfk-search-results-photos-video li div.content-type {
  background-color: #D71700;
  color: white;
  font-weight: bold;
  font-size: 1.0em;
  padding: 3.35px 0 2.76px 11px;
  margin-bottom: 7px;
}

ol#tfk-search-results-photos-video li h3.title a:link,
ol#tfk-search-results-photos-video li h3.title a:visited {
  color: black;
  font-size: 1.08em;
}


ol#tfk-search-results-photos-video li.with-image {
  /*min-height: 215px;*/
}

ol#tfk-search-results-photos-video li.with-image img.thumbnail {
  /*float: left;
  margin-right: 7px;*/
}

li.tfk-search-result {
	margin: 0 0 10px 0;
}

.row2 {
	margin: 0pt;
}

.col1 {
	float: left;
	margin: 0px;
}

.col2 {
  display: inline-block;
  margin: 0 0 0 10px;
  max-width: 360px;
}

ol#tfk-search-results-photos-video li.tfk-search-result .col2 h3.title a {
  color: #D71700;
  font-size: 1.5em;
  font-weight: bold;
}


/* Top pager */

div#tfk-search-pager-top {
  background-color: #E6E6E6;
  min-height: 30px;
  padding: 8px 0px 7px 10px;
	margin-bottom: 7px;
}

div#tfk-search-pager-top div.sp-top {
  margin: 0px;
}

div#tfk-search-pager-top h2 {
  display: inline;
  font-size: 1.5em;
  margin: 0px;
}

div#tfk-search-pager-top .sp-bottom {
  margin: 3px 0 0 0;
}

div#tfk-search-pager-top div.item-list ul.pager {
  clear: none;
  margin: 0px;
  text-align: right;
}

div#tfk-search-pager-top h2,
div#tfk-search-pager-top span.sp-top-list {
	
}

div#tfk-search-pager-top span.sp-top-list, 
div#tfk-search-pager-top div.item-list, 
div#tfk-search-pager-top ul.pager {
  width: 260px;
}

div#tfk-search-pager-top span.sp-top-list {
  float: right;
  padding-right: 5px;
	margin-top: 3px;
}

div#tfk-search-pager-top a:link, 
div#tfk-search-pager-top a:visited {
	font-weight: normal;
	font-size: 0.92em;
}

div#tfk-search-pager-top .item-list ul li {
	margin: 0 0 0 1px;
}

/* Featured item */

div#tfk-search-photos-video-featured {
  
  margin-bottom: 15px;
}

div#tfk-search-photos-video-featured .g2 {
	min-height: 267px;
}

div#tfk-search-photos-video-featured div.featured-label {
	font-size: 1em;
	padding-top: 20px;
}

div#tfk-search-photos-video-featured .featured-item {
	float: left;
	margin-right: 15px;
}

div#tfk-search-photos-video-featured h2.featured-title {
	font-size: 1.875em;
	margin: 3px 0px 1px;
	color: #d71700;
}

div#tfk-search-photos-video-featured .featured-date {
	margin: 0px;
	margin-bottom: 0px 0px -3px 0px;
}

div#tfk-search-photos-video-featured .featured-dek {
	font-size: 1em;
	margin: 0px 0px -3px 0px;
}

div#tfk-search-photos-video-featured .featured-link {
	margin: 0px;
}

/* Related Content Featured item*/

div#featured-related-content-title {
	font-size: 1em;
	font-weight: bold;
	margin: 20px 0px 5px 0px;
}

div#featured-related-content {
  margin: 0px 0px 0px 0px;
}

div.addit-related-articles {
  font-size: 0.92em;
}


div#featured-related-content {
  padding: 3px 0px 3px 7px;
}

div#featured-related-content .addit-related-articles-label,
div#featured-related-content .addit-related-articles-title,
div#featured-related-content .addit-related-articles-download {
  display: inline;
  margin-right: 5px;
}

div#featured-related-content .addit-related-articles .addit-related-articles-label {
  font-weight: bold;
}

div#featured-related-content .addit-related-articles-label {
  font-weight: bold;
}

div#featured-related-content .addit-related-articles .addit-related-articles-title {
  font-size: 0.92em;
}

div#featured-related-content .addit-related-articles .addit-related-articles-download {
  color: #eb1c24;
}


