#sightseeing-container {
	border: solid 1px #cecece;
	padding: 10px;
}

#sightseeing-container h1 {
	font-size: 30px;
	margin: 4px 0;
}

#sightseeing-container p {
	padding-bottom: 10px;
	border-bottom: dotted 1px #cecece;
	margin: 4px 0 10px 0;
}
