#sightseeing-container {
	border: solid 1px #cecece;
	padding: 10px;
}

#sightseeing-container h1 {
	font: normal 30px arial;
	margin: 4px 0;
	line-height: 1;
}

#sightseeing-container #map-container p {
	margin: 0;
}

#sightseeing-container #map-container p:first-child {
	padding-bottom: 10px;
	border-bottom: dotted 1px #cecece;
	margin: 4px 0 10px 0;
}
