/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
}

#page-wrapper {
	width: 100%;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
	width: 100%;
	height: 110px;
	background: #d71700;
}

#header .section {
	position: relative;
	margin: 0 auto;
	width: 950px;
	height: 110px;
	clear: both;
}

#header .section #logo {
	float: left;
	width: 206px;
	height: 90px;
	margin: 7px 0 13px 0;
	background: url(../images/tfk-head-logo.png) no-repeat;
}

#header #header-inner .ad-block {
	position: relative;
	float: left;
	width: 744px;
	height: 92px;
	margin: 6px 0 12px 0;
}

#header #header-inner .ad-block .ad-flag {
	position: absolute;
	top: 39px;
	left: -39px;
	height: 14px;
	width: 92px;
	background: #790001;
	color: white;
	text-transform: capitalize;
	text-align: center;
	line-height: 14px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	font: normal 10px arial;
}

#header #header-inner .ad-block .ad {
	float: right;
	width: 728px;
	height: 70px;
	text-align: center;
	padding: 10px 0;
	background: white;
	border: solid 1px #790001;
	font: bold 30px Arial;
}

#logo img {
  display: none;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
  display: none;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main-wrapper h1#page-title {
	float: left;
	width: 768px;
	font: normal 18px "arial black";
	margin-bottom: 10px;
	border-bottom: solid 6px #d71700;
	text-transform: uppercase;
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}
/* user profile */
.tfk-user-profile-divider {
    height:5px;
    background:#D71700;
    border:none;
}
.tfk-user-profile-title {
    color:#373737;
}
#tfk-user-profile-form {
    border:1px solid #CECECE;
    padding:10px;
}
#tfk-user-profile-form .form-submit {
    background:#D71700;
    color:#FFFFFF;
    border-radius: 20px;
    padding:5px;
}
#user-title {
    text-transform: uppercase;
    color:#373737;
}
.user-picture {
    float:left;
    padding-right:10px;
    padding-bottom:10px;
}
.tfk-user-profile-board-member-name {
    font-size:2.0em;
    color:#373737;
}
#tfk-user-profile-board-member-wrapper {
    border:1px solid #CECECE;
    padding:10px;
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first .section {
	font: normal 12px arial;
	background: #e6e6e6;
	border: solid 1px #cecece;
	padding: 10px;
}

.region-sidebar-first .section ul.menu {
	list-style-type: none;
	padding-left: 0;
}

.region-sidebar-first .section a {
	font-weight: bold;
	color: #d71700;
	font-weight: bold;
	text-decoration: none;
}

/* Teacher news sidebar */


/* kid reporter sidebar */
.node-type-kid-reporter .region-sidebar-first .section,
.section-tfk-kid-reporters .region-sidebar-first .section,
.section-kid-reporter .region-sidebar-first .section {
	background: none;
	padding: 0;
	border: none;
}

.node-type-kid-reporter .region-sidebar-first .section .block-menu h2,
.section-tfk-kid-reporters .region-sidebar-first .section .block-menu h2,
.section-kid-reporter .region-sidebar-first .section .block-menu h2 {
	display: none;
}

.node-type-kid-reporter .region-sidebar-first .section .block-menu ul,
.section-tfk-kid-reporters .region-sidebar-first .section .block-menu ul,
.section-kid-reporter .region-sidebar-first .section .block-menu ul {
	margin: 0;
}

.node-type-kid-reporter .region-sidebar-first .section .block-menu a,
.section-tfk-kid-reporters .region-sidebar-first .section .block-menu a,
.section-kid-reporter .region-sidebar-first .section .block-menu a {
	display: block;
	font: normal 14px "arial black";
	color: #fff;
	background: #d71700;
	padding: 10px;
	text-transform: uppercase;
}

.node-type-kid-reporter .region-sidebar-first .section .block-views,
.section-tfk-kid-reporters .region-sidebar-first .section .block-views,
.section-kid-reporter .region-sidebar-first .section .block-views {
	border: solid 1px #cecece;
	padding: 10px;
}

.node-type-kid-reporter .region-sidebar-first .block-views h2.block-title,
.section-tfk-kid-reporters .region-sidebar-first .block-views h2.block-title,
.section-kid-reporter .region-sidebar-first .block-views h2.block-title {
	font: normal 14px "arial black";
	text-transform: uppercase;
	padding-bottom: 6px;
	margin-bottom: 10px;
	border-bottom: solid 1px #cecece;
}

.node-type-kid-reporter .region-sidebar-first .views-row,
.section-tfk-kid-reporters .region-sidebar-first .views-row,
.section-kid-reporter .region-sidebar-first .views-row {
	padding-bottom: 6px;
	margin-bottom: 10px;
	border-bottom: solid 1px #cecece;
}

.node-type-kid-reporter .region-sidebar-first .views-row .views-field-field-thumbnail-image,
.section-tfk-kid-reporters .region-sidebar-first .views-row.views-field-field-thumbnail-image,
.section-kid-reporter .region-sidebar-first .views-row .views-field-field-thumbnail-image {
	float: left;
	margin-right: 8px;
}

.node-type-kid-reporter .region-sidebar-first .view-footer,
.section-tfk-kid-reporters .region-sidebar-first .view-footer,
.section-kid-reporter .region-sidebar-first .view-footer {
	height: 30px;
}

.node-type-kid-reporter .region-sidebar-first .view-footer a,
.section-tfk-kid-reporters  .region-sidebar-first .view-footer a,
.section-kid-reporter .region-sidebar-first .view-footer a {
	font: bold 11px arial;
	float: right;
	background: #d71700;
	color: white;
	text-decoration: none;
	padding: 6px 8px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 2px 2px 2px #999;
	-webkit-box-shadow: 2px 2px 2px #999;
	box-shadow: 2px 2px 2px #999;
}

/* ATW sidebar */
.section-destination .region-sidebar-first .section {
	padding: 0;
	background: none;
	border: none;
}

#block-tfk-atw-atw-destination-navigation {
	background: #e6e6e6;
	border: solid 1px #cecece;
	padding: 10px;
}

#block-tfk-atw-atw-destination-navigation h3 {
	margin: 0;
}

#block-tfk-atw-atw-destination-navigation h3 a {
	display: block;
	font: normal 14px "arial black";
	color: #fff;
	background: #d71700;
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
}

#block-tfk-atw-atw-destination-navigation ul.menu {
	padding-left: 10px;
	margin: 4px 0;
}

#block-tfk-atw-atw-destination-navigation ul.menu li {
	margin: 4px 0;
}

.region-sidebar-first .section .view-atw-page-featured-destination {
	background: url(../images/atw-sidebar-head.png) no-repeat top left;
	padding-top: 20px;
}

.view-atw-page-featured-destination .views-field-title a {
	color: #d71700;
	font-size: 20px;
	text-decoration: none;
}

.view-atw-page-featured-destination .field-content img {
	width: 230px;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
	background: #d71700;
	color: #fff;
	font: normal 10px arial;
}

.region-footer .block-title {
	display: none;
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}

/* kid reporter header */
.page-kid-reporter #content h2.block-title {
	border: solid 1px #cecece;
	background: url(../images/tfk-kid-reporter-head.png) no-repeat 10px 10px;
	width: 488px;
	height: 101px;
	padding: 10px;
	font-size: 0px;
	margin-bottom: 10px;
}

/* teacher and kid reporter news top story*/
.view-teacher-news-top-story .view-content,
.view-kid-reporters-channel-top-story {
	position: relative;
	border: solid 6px #d71700;
	padding: 20px 10px 10px 10px;
}

.view-teacher-news-top-story .view-content .views-field-field-image,
.view-kid-reporters-channel-top-story .views-field-field-image {
	position: relative;
	top:-20px;
	left: -10px;
	width: 270px;
	min-height: 270px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.view-teacher-news-top-story .view-content .views-field-name,
.view-kid-reporters-channel-top-story .views-field-name {
	background: #d71700;
	color: white;
	font: bold 14px Arial;
	padding: 2px 6px;
	display: inline-block;
}

.view-teacher-news-top-story .view-content .views-field-title a,
.view-kid-reporters-channel-top-story .views-field-title a {
	font: bold 30px arial;
	color: #d71700;
	text-decoration: none;
}

.view-teacher-news-top-story .view-content .views-field-field-date,
.view-kid-reporters-channel-top-story .views-field-field-date {
	font: normal 9px arial;
	text-transform: uppercase;
}

.view-teacher-news-top-story .view-content .views-field-field-deck,
.view-kid-reporters-channel-top-story .views-field-field-deck {
	margin-top: 20px;
}

.view-teacher-news-top-story .view-content .views-field-field-related-articles,
.view-teacher-news-top-story .view-content .views-field-title-1,
.view-kid-reporters-channel-top-story .views-field-field-mini-lessons,
.view-kid-reporters-channel-top-story .views-field-field-related-articles {
	clear: both;
	background: #d9effe;
	border: solid 3px #acdbfc;
	padding: 2px 4px;
	-moz-box-shadow: 2px 2px 4px #666;
	-webkit-box-shadow: 2px 2px 4px 666;
	box-shadow: 2px 2px 4px #666;
}

/* teacher and kid reporter news block */
.view-teacher-news-news-block table,
.view-kid-reporters-channel-news-block table {
	margin: 0;
	border-collapse: collapse;
	border: 0;
}

.view-teacher-news-news-block table td,
.view-kid-reporters-channel-news-block table td {
	display: block;
	float: left;
	width: 230px;
	height: 310px;
	padding: 20px 8px;
	border: solid 1px #cecece;
}

.view-teacher-news-news-block table td.col-1,
.view-kid-reporters-channel-news-block table td.col-1 {
	margin-right: 8px;
}

.view-teacher-news-news-block table td .views-field-name,
.view-kid-reporters-channel-news-block table td .views-field-name {
	background: #d71700;
	color: white;
	font: bold 14px Arial;
	padding: 2px 6px;
	display: inline-block;
}

.view-teacher-news-news-block table td .views-field-field-image,
.view-kid-reporters-channel-news-block table td .views-field-field-image {
	width: 230px;
	height: 120px;
	margin-bottom: 10px;
}

/* kid reporter listings */
.view-all-kid-reporters .view-header {
	border: solid 1px #cecece;
	padding: 130px 10px 10px 10px;
	background: url(../images/tfk-kid-reporter-head.png) no-repeat 10px 10px;
}

.view-all-kid-reporters .view-header p {
	margin: 0;
}

.view-all-kid-reporters .view-header p strong {
	display: block;
	font-size: 30px;
	margin-bottom: 10px;
}

.view-all-kid-reporters .view-content table {
	margin: 0;
	border-spacing: 4px;
	border-collapse: separate;
}

.view-all-kid-reporters .view-content table td {
	font: normal 12px arial;
	width: 246px;
	border: solid 1px #cecece;
	padding: 4px;
	vertical-align: top;
}

.view-all-kid-reporters .view-content table td a {
	font-weight: bold;
	color: #d71700;
	text-decoration: none;
}

.view-all-kid-reporters .view-content table td .views-field-field-thumbnail-image {
	float: left;
	margin-right: 8px;
}

/* ATW destination listing */
.page-around-the-world .view-content h3 {
	font: bold 20px arial;
	float: left;
	width: 248px;
	padding: 6px;
	margin: 10px 0 0 0;
	border-bottom: dotted 1px #555;
	border-top: solid 1px #555;
	border-left: solid 1px #555;
	border-right: solid 1px #555;
}

.page-around-the-world .view-content table {
	float: left;
	width: 262px;
	margin: 0 0 10px 0;
	border-collapse: collapse;
	border-top: none;
	border-bottom: solid 1px #555;
	border-left: solid 1px #555;
	border-right: solid 1px #555;
}

.page-around-the-world .view-content table tr.row-first {
	background: #fff;
}

.page-around-the-world .view-content table tr.row-last {
	background: #ddd;
}

.page-around-the-world .view-content table td {
	padding: 6px;
}

.page-around-the-world .view-content table td a {
	font: bold 12px arial;
	color: #d71700;
	text-decoration: none;
}

/*
 * Photos and Video Section.
 */
div#block-views-tfk-section-photos-video-block div.views-field-type {
  color: white;
  background-color: #D71700;
  padding: 0px 5px 2px;
}

div#block-views-tfk-section-photos-video-block div.views-field-title a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.22em;
}

div#block-views-tfk-section-photos-video-block  a.tfk_sections_photos_video_view_full_article {
  text-decoration: none;
  color: #D71700;
  font-weight: bold;
  font-size: .90em;
}

div#block-views-tfk-section-photos-video-block div.view-id-tfk_section_photos_video div.views-row {
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-left: 2px solid #ccc;
  padding: 6px;
}

div#block-views-tfk-section-photos-video-block div.view-id-tfk_section_photos_video div.views-row-last {
  border-bottom: 2px solid #ccc;
}

div#block-views-tfk-section-photos-video-block div.views-field-field-image img {
  float:left;
  padding-top: 7px;
  margin-right: 7px;
}

div#block-views-tfk-section-photos-video-block div.views-field-body p {
  margin: 0px; padding: 0px;
  font-size: 12px;
}
