/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
	width: 100%;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
	width: 100%;
	height: 110px;
	background: #d71700;
}

#header .section {
	position: relative;
	margin: 0 auto;
	width: 950px;
	height: 110px;
	clear: both;
}

#header .section #logo {
	float: left;
	width: 206px;
	height: 90px;
	margin: 7px 0 13px 0;
	background: url(../images/tfk-head-logo.png) no-repeat;
}

#header #header-inner .ad-block {
	position: relative;
	float: left;
	width: 744px;
	height: 92px;
	margin: 6px 0 12px 0;
}

#header #header-inner .ad-block .ad-flag {
	position: absolute;
	top: 39px;
	left: -39px;
	height: 14px;
	width: 92px;
	background: #790001;
	color: white;
	text-transform: capitalize;
	text-align: center;
	line-height: 14px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	font: normal 10px arial;
}

#header #header-inner .ad-block .ad {
	float: right;
	width: 728px;
	height: 70px;
	text-align: center;
	padding: 10px 0;
	background: white;
	border: solid 1px #790001;
	font: bold 30px Arial;
}

#logo img {
  display: none;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
  display: none;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
	width: 950px;
	margin: 0 auto 0 auto;
}

#main-wrapper h1#page-title {
	float: left;
	width: 768px;
	font: normal 18px "arial black";
	margin-bottom: 10px;
	border-bottom: solid 6px #d71700;
	text-transform: uppercase;
}

#main {
}

/*
 * Content
 */
#content {

}

#content.column {
	width: 510px;
}

#main-wrapper #main #content {
	margin-top: 0px;
}

#main-wrapper #main #navigation {
	display: none;
}

#content .section {
}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
	position: relative;
	float:left;
	width: 252px;
	margin-right: 6px;
}

.region-sidebar-first .section {
	background: #e6e6e6;
	border: solid 1px #cecece;
	padding: 10px;
}

.region-sidebar-first .section ul.menu {
	list-style-type: none;
	padding-left: 10px;
}

/* kid reporter sidebar */
.node-type-kid-reporter .region-sidebar-first .section,
.section-tfk-kid-reporters .region-sidebar-first .section,
.section-kid-reporter .region-sidebar-first .section {
	font: normal 12px arial;
	background: #fff;
}

.node-type-kid-reporter .region-sidebar-first h2.block-title,
.section-tfk-kid-reporters .region-sidebar-first h2.block-title,
.section-kid-reporter .region-sidebar-first h2.block-title {
	font: normal 14px "arial black";
	text-transform: uppercase;
	padding-bottom: 6px;
	margin-bottom: 10px;
	border-bottom: solid 1px #cecece;
}

.node-type-kid-reporter .region-sidebar-first .views-row,
.section-tfk-kid-reporters .region-sidebar-first .views-row,
.section-kid-reporter .region-sidebar-first .views-row {
	padding-bottom: 6px;
	margin-bottom: 10px;
	border-bottom: solid 1px #cecece;	
}
.node-type-kid-reporter .region-sidebar-first a,
.section-tfk-kid-reporters .region-sidebar-first a,
.section-kid-reporter .region-sidebar-first a {
	font-weight: bold;
	color: #d71700;
	font-weight: bold;
	text-decoration: none;
}

.node-type-kid-reporter .region-sidebar-first .view-footer,
.section-tfk-kid-reporters .region-sidebar-first .view-footer,
.section-kid-reporter .region-sidebar-first .view-footer {
	height: 20px;
}

.node-type-kid-reporter .region-sidebar-first .view-footer a,
.section-tfk-kid-reporters  .region-sidebar-first .view-footer a,
.section-kid-reporter .region-sidebar-first .view-footer a {
	font: normal 11px arial;
	float: right;
	font-weight: bold;
	background: #d71700;
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 6px 8px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 2px 2px 2px #999;
	-webkit-box-shadow: 2px 2px 2px #999;
	box-shadow: 2px 2px 2px #999;
}

/*ATW sidebar */
.region-sidebar-first .section .view-atw-page-featured-destination {
	background: url(../images/atw-sidebar-head.png) no-repeat top left;
	padding-top: 20px;
}

 .view-atw-page-featured-destination .views-field-title a {
	color: #d71700;
	font-size: 20px;
	text-decoration: none;
}

 .view-atw-page-featured-destination .field-content img {
	width: 230px;
 }

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
	margin-top: 0px;
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
	width: 760px;
	background: #d71700;
	color: white;
}

.region-footer .block-title {
	display: none;
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}
