#daylife-container {
	border: solid 1px #cecece;
	padding: 10px;
	position: relative;
}

#daylife-container h1 {
	font: normal 30px arial;
	line-height: 1;
	margin: 4px 0;
}

#daylife-container .field-name-body p {
	font: normal 12px arial;
	padding-bottom: 10px;
	border-bottom: dotted 1px #cecece;
	margin: 4px 0 10px 0;
}

#daylife-container #image-container {
	float: left;
	width: 270px;
	height: 270px;
	margin-right: 10px;
}

#daylife-container #image-container img {
	width: 270px;
	height: 270px;
}

#daylife-container #speaker-intro {
	float: left;
	width: 208px;
	padding-bottom: 6px;
	margin-bottom: 6px;
	border-bottom: dotted 1px #cecece;
}

#daylife-container #speaker-intro strong {
	font: bold 18px arial;
	margin: 0 0 6px 0;
}

#daylife-container #speaker-intro p {
	margin: 0;
}

#daylife-container #activities {
	float: left;
	width: 206px;
}

#daylife-container .clock {
	position: relative;
	float: left;
	width: 42px;
	height: 42px;
	background: #fff;
	margin-right: 8px;
	cursor: pointer;
	background: url("../images/daylife-grey-clock.png") no-repeat;
}

#daylife-container .clock.active {
	background: url("../images/daylife-black-clock.png") no-repeat;
}

#daylife-container #activities  {
	float: left;
	width: 158px;
}

#daylife-container #activities  #activity-time {
	font: bold 18px arial;
}

#daylife-container #daylife-bar {
	border-top: dotted 1px #cecece;
	margin-top: 10px;
	padding-top: 10px;
	height: 42px;
	position: relative;
}

#daylife-container #line-below {
	position: relative;
	width: 1px;
	background: #cecece;
	height: 20px;
}

#daylife-container #current-time {
	display: inline-block;
	position: relative;
	font: normal 14px "arial black";
	border: solid 1px #cecece;
	padding: 6px;
}













