#native-lingo-container {
	border: solid 1px #cecece;
	padding: 10px;
	position: relative;
}

#native-lingo-container h1 {
	font: normal 30px arial;
	line-height: 1;
	margin: 0 0 4px 0;
}

#native-lingo-container .field-name-body p {
	font: normal 12px arial;
	padding-bottom: 10px;
	border-bottom: dotted 1px #cecece;
	margin: 4px 0 10px 0;
}

#native-lingo-container #image-container {
	position: relative;
	width: 488px;
	height: 260px;
	border: solid 1px #cecece;
	margin-bottom: 10px;
}

#native-lingo-container #image-container img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#native-lingo-container #image-container #audio-box {
	position: absolute;
	top: 20px;
	right: 10px;
	width: 230px;
	border: solid 1px #cecece;
	background: #fff;
	padding: 6px;
	z-index: 2;
}

#native-lingo-container #image-container #audio-box h2 {
	font: bold 18px arial;
	padding-bottom: 6px;
	margin: 0 0 6px 0;
	border-bottom: dotted 1px #cecece;
}

#native-lingo-container #image-container #audio-box  #phrase-text {
	font-weight: bold;
}

#native-lingo-container #image-container #audio-box  #phrase-translation {
	font-style: italic;
}

#native-lingo-container #image-container #audio-box  #audio-player-box {
	font-weight: bold;
	border: solid 1px #cecece;
	background: #dedede;
	height: 25px;
	line-height: 25px;
	padding: 4px 2px 2px 4px;
}

#jplayer_play,
#jplayer_pause,
#jplayer_stop {
	display: inline-block;
	width: 35px;
	height: 25px;
	font-size: 0px;
	cursor: pointer;
	margin-right: 4px;
}

#jplayer_play {
	background: url("../images/native-lingo-play.png") no-repeat;
}

#jplayer_stop {
	background: url("../images/native-lingo-stop.png") no-repeat;
}

#jplayer_pause {
	background: url("../images/native-lingo-pause.png") no-repeat;
}

#native-lingo-container .phrase-list {
	float: left;
	width: 238px;
	border: solid 1px #cecece;
}

#native-lingo-container #basics {
	margin-right: 8px;
}

#native-lingo-container .phrase-list h2 {
	font: bold 18px arial;
	margin: 6px;
	padding: 0 0 6px 0;
	border-bottom: dotted 1px #cecece;
}

#native-lingo-container .phrase-list .phrase {
	padding: 6px;
}

#native-lingo-container .phrase-list .phrase.odd {
	background: #dedede;
}













