/* Suggestion Box */
.suggestion-box {
  background: none repeat scroll 0 0 #D9EFFE;
  border: 3px solid #ACDBFC;
  box-shadow: 2px 2px 4px #666666;
  margin-bottom: 15px;
  padding: 2px 4px;
  position: relative;
}
.suggestion-box .msg {
  display: inline-block;
  font-size: 0.95em;
}
.suggestion-box .link {
  border-left: 1px solid #666666;
  display: inline-block;
  font-size: 0.83em;
  margin-left: 3px;
  padding-left: 5px;
}

.suggestion-box.bottom .link {
  font-size: 0.92em;	
	margin-top: 5px;
}

.suggestion-box.bottom {
  padding: 6px 6px 4px 6px;
}

.suggestion-box.bottom .link {
	text-align: right;
	display: block;
	border: none;
}

/* 17C Suggestion Box pager */
.view-id-teacher_community_topic_list .item-list ul li {
  margin: 0 0 0 .50%;
}

.view-id-teacher_community_topic_list .item-list ul.pager {
	text-align: right;
	margin-top: 7px;
}

.suggestion-box-wrapper.bottom {
	padding: 12px 3% 0 2.5%; 
	border: 2px solid #CECECE;
	border-top: none;
}

/* Topic List (17C) */

div.view-id-teacher_community_topic_list .view-content {
  border: 2px solid #CECECE;
}

div.view.view-id-teacher_community_topic_list .views-field-title {
  font-size: 20px;
  margin-bottom: 6px;
}

div.view.view-id-teacher_community_topic_list .views-field-view-node {
  margin-top: 14px;
}

div.view.view-id-teacher_community_topic_list .views-row {
  padding: 10px;
}

div.view.view-id-teacher_community_topic_list .views-row:not(.views-row-last) {
  border-bottom: 2px solid #CECECE;
}

div.view.view-id-teacher_community_topic_list .views-field-name, 
div.view.view-id-teacher_community_topic_list .views-field-created,
div.view.view-id-teacher_community_topic_list .views-field-comment-count {
	color: #333;
	font-weight: bold;
	font-size: 11px;
}

body.page-teacher-community-topic-list .region-sidebar-first .section {
  background: none;
  border: none;
  padding: 0;
}

body.node-type-teacher-community-question div.region-sidebar-first div.section {
	background: none;
	border: none;
	padding: 0;
}

/* "More Topics from Teachers" Block. */
#block-tfk-teachers-community-tfk-teachers-comm-more-topics {
  background: none repeat scroll 0 0 #D9EFFE;
  border: 1px solid #CECECE;
  padding: 10px;
}

#block-tfk-teachers-community-tfk-teachers-comm-more-topics h3 {
  background-color: #D71700;
  color: white;
  font-size: 1.08em;
  margin: 0;
  padding: 5px 0 3px;
  text-align: center;    
}

#block-tfk-teachers-community-tfk-teachers-comm-more-topics .item-list ul li {
  margin: 10px 0pt 0px 0;
  padding: 0 0 7px 0;
  border-bottom: 1px solid #CECECE;
}

#block-tfk-teachers-community-tfk-teachers-comm-more-topics div.btn_link {
	text-align: right;
	margin-top: 15px;
}



/* View existing comments */

body.page-node-add-teacher-community-question #block-system-help h2 {
  color: #D71700;
  font-size: 20pt;
  font-weight: bold;
  margin: 10px 0 0 0;
}

body.page-node-add-teacher-community-question #block-system-help p {
  margin: 10px 0 0 0;
}

form#teacher-community-question-node-form label[for="edit-title"], div#block-system-main h2.comments_header_title {
  background-color: #D71700;
  color: white;
  margin-bottom: 14px;
  padding: 5px 0 3px 10px;
}

form#teacher-community-question-node-form div#edit-actions,
div.node-teacher-community-question.view-mode-full form#comment-form div#edit-actions {
  text-align: right;
}

form#teacher-community-question-node-form div.form-type-textarea {
  margin-bottom: 15px;
}

div#block-system-main div.node-teacher-community-question.view-mode-full {
  border: 1px solid #CCCCCC;
  padding: 7px 5px 5px 7px;
}
div#block-system-main div.node-teacher-community-question.view-mode-full h2.node-title a {
  font-size: 1.67em;
  line-height: 100%;
}
div#block-system-main div.node-teacher-community-question.view-mode-full h2.node-title {
  margin: 20px 0 10px;
}


div#block-system-main h2.comments_header_title {
  font-size: 1.08em;
}
div#block-system-main div.node-teacher-community-question.view-mode-full div.col1-wrapper {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  width: 100px;
  padding-top: 15px;
}

div#block-system-main div.node-teacher-community-question.view-mode-full .even div.col1-wrapper {
  margin-left: 9px;
}

div#block-system-main div.node-teacher-community-question.view-mode-full .even {
	margin: 10px 0 10px 0px;
}

div#block-system-main div.node-teacher-community-question.view-mode-full div.col2-wrapper {
  border-left: 1px solid #CCCCCC;
  display: inline-block;
  margin: 0 0 0 20px;
  padding-left: 10px;
  vertical-align: top;
  width: 330px;
  min-height: 100px;
}
div#block-system-main div.node-teacher-community-question.view-mode-full div.col2-wrapper col2 {
  margin: 0;
  vertical-align: top;
}
div.field-name-comment-body p:first-child {
  margin-top: 0;
}

div.comment.even {
  border: 1px solid #CCC;
  background: none repeat scroll 0 0 #D9EFFE;
}

/* New Comments */
.new-comment-label {
  background-color: #D71700;
  color: white;
  margin-bottom: 14px;
  padding: 5px 0 3px 10px;
  font-size: 1.08em;
}


