.node-type-a-paper,
.node-type-paper-step
  .paper-textarea
    width: 460px
    padding: 36px 0 12px
    p
      text-indent: 40px
      margin-bottom: 1em
  h2
    margin-top: 0
  .node-title a
    color: $black
    font-size: $ms2
    line-height: $ms1
  .field-name-field-step-example
    background: #ddd
    border: 1px solid #cecece
    margin: 10px
    padding: $gutter
    p
      margin-bottom: 0
      font-style: italic
  .form-type-textfield,
  .form-type-textarea
    background: #ddd
    padding: 10px
    width: 460px
    margin-top: 0
    clear: left
    border: 1px solid #cecece
    font-size: 14px
    label
      font-size: $ms1
      padding: 0 0 10px
  .aplus-start-button
    margin: 20px 0
    text-align: center
    width: 460px
  .aplus-overview
    font-size: 14px
    width: 460px
  .content .content
    .form-item input
      font-size: 14px
    .content
      font-size: 14px
  .node-paper-step
    margin: 0
    padding: 10px 0
    width: 460px
    +float-left
    label
      font-size: $ms1
      padding: 0 0 10px
    .node-title
      margin: 0 0 10px 0
  .paper-title
    font-size: $ms2
    text-align: center
  .paper-date
    +float-right
    font-size: $ms0
  .student-name
    +float-left
    font-size: $ms0

#aplus-submit-buttons
  background: #ddd
  padding: 10px
  width: 460px
  border: 1px solid #cecece
  height: 25px
  text-align: right
  +float-left
  .aplus-start-over
    background: url(images/tfk-red-arrow.png)
    background-repeat: no-repeat
    +float-left
    font-style: italic
    font-family: $font-serifs
    color: $tfk-red
    padding: 3px 0 0 42px
    height: 35px

#aplus-papers-checklist-block
  border: 1px solid #cecece
  position: absolute
  right: 10px
  top: 10px
  width: 240px
  .aplus-papers-checklist-title
    color: white
    background-color: $tfk-red
    padding: 2px
    font-weight: bold
    text-transform: uppercase
    border: 10px solid #ddd
    text-align: center
  li
    border-bottom: 1px solid #cecece
    background: #ddd url(images/checkbox-unchecked.gif) no-repeat 0 0.5em
    color: $tfk-red
    font-weight: bold
    margin: 0
    padding: 10px 35px
    &.current,
    &.checked
      background-color: white
      background-position: 0 0.7em
      color: $black
    &.checked
      background-image: url(images/checkbox-checked.gif)
    &.last
      border-bottom: 0

ul#aplus-papers-checklist
  margin-bottom: 0

#aplus-review-step,
#aplus-final-step
  width: 460px
  +float-left
  margin-top: 10px
  .node-title
    margin: 0 0 10px 0
  .a-plus-review-description
    font-weight: bold
    margin-bottom: 10px
  label
    font-size: $ms1
    padding: 0 0 10px

#aplus-print-save-buttons
  text-align: center
  clear: right
  padding-top: 10px
  width: 230px
  +float-right
  input
    margin-top: 10px

.page-homework-helper-a-plus-papers
  .view-a-papers
    .view-header
      border-bottom: 1px solid #cecece
      padding-bottom: 10px
      padding-left: 15px
      +trailer
    .views-row
      padding: 20px 10px 10px 135px
      border-bottom: 1px solid #cecece
      padding-bottom: $baseline
    .views-row-last
      border-bottom: 0
    .views-field-title
      a
        font-size: 20px
    .views-field-field-paper-image
      +float-left
      margin: 0 0 0 -125px
    .views-field-nothing
      +leader
      .related-pdfs
        border: 4px solid #addcfa
        background: #ddeeff url(images/pdf-image.png)
        background-repeat: no-repeat
        background-position: 0 .5em
        padding: 5px 5px 5px 30px
        +box-shadow(transparentize($black, 0.5) 0 2px 4px)
        a
          margin-right: 10px
