body.node-type-a-paper, body.node-type-paper-step
  #content
    font-family: $font-sans
    font-weight: normal
    font-size: $ms-1
    line-height: $ms1
    width: 768px
    #homework-help-content
      position: relative
      #block-system-main
        border: 1px solid #cecece
        padding: 10px
        +trailer
      #homework-helper-title
        position: absolute
        top: 40px
      .aplus-paper-type-title
        background-image: url(images/tfk-red-tag.png)
        background-repeat: no-repeat
        padding: 13px
        height: 23px
        width: 158px
        color: $white
        text-transform: uppercase
        font-weight: bold
        font-size: $ms2
        margin-bottom: 0
        position: absolute
        margin-top: 10px
    .paper-textarea
      width: 480px
      padding: 12px 0
    #aplus-papers-checklist-block
      border: 1px solid #cecece
      list-style: none
      // margin-top: -18px
      width: 220px
      float: right
      .aplus-papers-checklist-title
        color: white
        background-color: $tfk-red
        padding: 2px
        font-weight: bold
        text-transform: uppercase
        border: 10px solid #dddddd
        text-align: center
      ul#aplus-papers-checklist
        margin-bottom: 0  
      li
        border-bottom: 1px solid #cecece
        background: #dddddd url(images/checkbox-unchecked.gif)
        background-repeat: no-repeat
        background-position: 0 .5em
        margin: 0
        padding: 10px 35px
        color: $tfk-red
        font-weight: bold
      li.current
        border-bottom: 1px solid #cecece
        background: white url(images/checkbox-unchecked.gif)
        background-repeat: no-repeat
        background-position: 0 .7em
        margin: 0
        padding: 10px 35px
        color: $black
      li.checked
        border-bottom: 1px solid #cecece
        background: white url(images/checkbox-checked.gif)
        background-repeat: no-repeat
        background-position: 0 .7em
        margin: 0
        padding: 10px 35px
        color: $black      
      li.last
        border-bottom: 0
    h2.node-title a
      color: $black
      font-size: $ms2
      line-height: $ms1
    .field-type-text-with-summary, .form-type-textarea
      // width: 480px
    .field-name-field-step-example
      background: #dddddd
      border: 1px solid #cecece
      margin-left: $gutter
      padding: $gutter
      // width: 430px
      p
        margin-bottom: 0
        font-style: italic
    .form-item-step-0-name, .form-item-step-0-date, .form-item-step-0-textarea, .form-item-step-1-title, .form-item-step-2-textarea, .form-item-step-3-textarea, .form-item-step-4-textarea, .form-item-step-5-textarea, .form-item-step-6-0-name, .form-item-step-6-0-date, .form-item-step-6-1-title, .form-item-step-6-2-textarea, .form-item-step-6-3-textarea, .form-item-step-6-4-textarea, .form-item-step-6-5-textarea
      background: #dddddd
      padding: 10px
      width: 480px
      margin-top: 0
      clear: left
      border: 1px solid #cecece
      label
        font-size: $ms1
        padding: 5px 0
    #aplus-submit-buttons
      background: #dddddd
      padding: 10px
      width: 480px
      border: 1px solid #cecece
      height: 25px
      margin-top: -20px
      text-align: right
      float: left
      .form-submit
        // margin-left: 200px
      .aplus-start-over
        background: url(images/tfk-red-arrow.png)
        background-repeat: no-repeat
        float: left
        font-style: italic
        font-family: $font-serifs
        color: $tfk-red
        padding: 3px 0 0 42px
        height: 35px
    .node-paper-step
      padding: 10px
      width: 480px
      float: left
      margin: 75  px $gutter 0 0
      label
        font-size: $ms1
        padding: 5px 0
    #aplus-review-step, #aplus-final-step
      // padding: 10px
      width: 480px
      float: left
      margin: 80px $gutter 0 0
      label
        font-size: $ms1
        padding: 5px 0
    button,
    input[type="reset"],
    input[type="submit"],
    input[type="button"]
      -webkit-appearance: none
      +border-radius(11px)
      background: $tfk-red url(../images/button.png) repeat-x
      border: 1px solid
      border-color: #ddd #bbb #999
      cursor: pointer
      color: white
      font: normal 12px/1.2 Arial, sans-serif
      outline: 0
      overflow: visible
      padding: 3px 10px 4px
      margin-right: 10px
      // width: auto
    a.button
      -webkit-appearance: none
      +border-radius(9px)
      background: $tfk-red url(../images/button.png) repeat-x
      border: 1px solid
      border-color: #ddd #bbb #999
      cursor: pointer
      color: white
      font: normal 12px/1.2 Arial, sans-serif
      outline: 0
      overflow: visible
      padding: 4px 12px 4px
      // width: auto
    #aplus-print-save-buttons
      text-align: right
      clear: right
      padding-top: 10px
    .paper-title
      font-size: $ms2
    .paper-date
      float: right
      font-size: $ms0
    .student-name
      float: left
      font-size: $ms0