body.page-homework-helper-flashcards
  #content
    #homework-helper-title
      background-image: url(images/tfk-red-tag.png)
      background-repeat: no-repeat
      padding: 12px
      height: 23px
      width: 175px
      color: $white
      text-transform: uppercase
      font-weight: bold
      margin-top: 15px
    #homework-help-content
      border: 1px solid #DFDFDF  
.view-flashcard-landing-page.view-id-flashcard_landing_page 
  .view-header
    display: block
    width: 250px
    background: #E6E6E6
    padding: 20px
    float: right
    border: 1px solid #CFCFCF
    margin: 0 10px 15px 15px
    .creation-link
      text-align: center
      margin: 10px
      a
        color: white
        background: #D71700
        padding: 5px
        +border-radius(20px)
        -webkit-box-shadow: 2px 2px 2px 2px #999999
        -moz-box-shadow: 2px 2px 2px 2px #999999
        box-shadow: 2px 2px 2px 2px #999999
        margin: 10px
  h3.views-accordion-flashcard_landing_page-page_1-header
    width: 440px
    border: 0px
    background: #DDDDDD
    +border-radius(0px)
    font-size: 140%
    line-height: 0
    padding: 0
    margin-top: 20px
    margin-left: 10px
    padding: 5px
    span.ui-icon.ui-icon-triangle-1-e
      //display: none
      background-image: url('../../images/arrow_right.png')
      background-position: 0 0
    span.ui-icon.ui-icon-triangle-1-s
      background-image: url('../../images/arrow_down.png')
      background-position: 0 0
    a
      margin-top: -10px
  .ui-accordion-content  
    width: 340px
    border: 0px
    margin-left: 10px
    .field-content:before
      content: url('../../images/card_icon.png')
      margin: 10px
      vertical-align: middle
    .field-content
      a
        margin: -20px 0 0 10px
        vertical-align: middle
        font-size: 120%
