=tfk-grammar-sidebar
  background: $tfk-yellow
  border: 1px solid #cecece
  +float-right
  margin-left: 30px
  padding: 20px
  text-align: center
  width: 208px
  h2
    margin: 0

.view-grammar-practice
  border: 1px solid #cecece
  table
    width: 100%
  tbody
    .views-field
      padding: 20px
  .views-field-title
    font-size: 18px
    font-weight: bold
  tr
    border-bottom: none
    &.odd
      background: white
  &.view-display-id-page_1
    padding: 10px
    .view-header
      +tfk-grammar-sidebar
      a
        margin-top: 10px
    .views-row
      +clearfix
      margin-top: 20px
    h3
      font-size: 30px
      line-height: 1.2
      margin: 0
    .view-content
      width: 424px
      span.field-content
        font-size: 20px
      p
        margin-bottom: 10px
    .views-field-field-grammar-example
      background: $tfk-yellow
      border: 1px solid #cecece
      font-style: italic
      padding: 10px

.page-node-186
  @extend .page-node-99
  .homework-helper-title
    +tfk-header-tag

span.grammar-wizard-incorrect
  color: $tfk-red

.node-type-grammar-practice
  .node-grammar-practice
    border: 1px solid #cecece
    padding: 10px
    margin-top: 0
  #grammar_practice_header,
  .homework-helper-title
    margin: 0 20px
    padding: 10px
    border:
      color: #cecece
      style: solid
      width: 0 1px
  .homework-helper-title
    font-size: 30px
    line-height: 1.2
  #grammar_practice_header
    border-top: 1px solid #cecece
  #grammar-wizard-numbering
    clear: left
    +float-right
  .node-grammar-practice-question
    +float-left
    margin: 0
    h2
      margin: 0
    & + .form-item
      +float-left
      width: 424px
  input[type="submit"]
    clear: left
    display: block
  #grammar-wizard-see-rules
    +tfk-grammar-sidebar
