#node-186
  .content
    .row
      +float-left
      border-top: 1px solid #cecece
      padding: 24px
      h2 a
        color: $tfk-red
        font-size: 32px
        line-height: 120%
        &:hover
          color: lighten($tfk-red, 40.0)
      .img
        +float-left
        margin: 10px

span.grammar-wizard-incorrect
  color: $tfk-red
