=homework-helper-title
  background: transparent url(images/tfk-red-tag.png) no-repeat -8px 0
  padding: 12px
  height: 23px
  color: $white
  font-size: $ms0
  font-weight: bold
  margin-top: 10px
  text-transform: uppercase

=tfk-box
  background: #e6e6e6
  border: 1px solid #cecece
  +float-right
  padding: 15px
  width: 250px
  h2
    margin-top: 0
    margin-bottom: 10px

=tfk-submit-button
  -webkit-appearance: none
  +border-radius(9px)
  background: $tfk-red url(../images/button.png) repeat-x
  border: 1px solid
  border-color: #ddd #bbb #999
  cursor: pointer
  color: white
  font: normal 12px/1.2 Arial, sans-serif
  outline: 0
  overflow: visible
  padding: 4px 12px 4px
