body.node-type-flashcard
  #content
    .region-content
      border: 1px solid #cecece
      #block-system-main
  .flashcard-cycle-cards
    background: lighten(yellow, 20.0)
    text-align: center
    ul
      li.answer .first
        color: red
    .flashcard-cycle-card 
      width: 500px
      height: 250px