=tfk-button
  background: $tfk-red url(../images/button.png) repeat-x
  +box-shadow(transparentize($black, 0.5) 0 2px 4px, lighten($tfk-red, 20%) -3px 3px 5px inset)
  border: none
  outline: 0
  color: white
  cursor: pointer
  overflow: visible

body
  &.node-type-flashcard,
  &.page-homework-helper-flashcards,
  &.page-node-add-flashcard,
  &.page-homework-helper-my-flashcards
    &.not-logged-in
      div.tabs
        display: none
    #content
      width: 768px
      h2.node-title
        display: none
    #homework-help-content
      border: 1px solid #cecece
      overflow: hidden
    .node-flashcard-form,
    .node-flashcard
      background: transparent url(images/flashcard-background.jpg) repeat
      margin: 10px
      padding: 20px
    .node-flashcard-form
      & > div
        background-color: white
        +border-radius(10px)
        padding: 10px
        +pie-clearfix
        position: relative
      .form-item-title
        input
          width: 80%
      .field-type-flashcard
        .form-item
          margin-bottom: 0
        .field-multiple-table
          margin-bottom: 1em
          width: 100%
          tbody,
          tr
            border: none
          td
            padding: 1em
            div:last-child
              margin-left: 1em
              padding-top: 1em
            input
              width: 80%
        .field-add-more-submit
          -webkit-appearance: none
          +border-radius(14px)
          background: #fff url(../images/button.png) repeat-x
          border: 3px solid $tfk-red
          color: $tfk-red
          cursor: pointer
          font: bold 12px/1.2 Arial, sans-serif
          height: auto
          padding: 4px 20px
          margin: 0
          width: auto
          +box-shadow(transparentize($black, 0.5) 0 2px 4px)
      .form-actions
        position: absolute
        bottom: 0.5em
        right: 0
        margin: 0
        z-index: 10
        input
          background: url(images/tfk-red-arrow-right.png) no-repeat scroll 42px 3px transparent
          border: none
          color: $tfk-red
          cursor: pointer
          font: bold 12px/1.2 Arial, sans-serif
          height: 30px
          padding: 3px
          text-align: left
          width: 100px
          -webkit-appearance: none
    .node-flashcard
      .study-helper-help
        clear: both
        padding-left: 20px
        +leader
      .study-helper-url
        +pie-clearfix
        clear: both
        .form-item
          +float-left
          margin: 0
          input
            background-color: $tfk-red
            border-color: $tfk-red
        #study-helper-copy
          -webkit-appearance: none
          +border-radius(24px)
          +tfk-button
          padding: 0.5em 1em
          margin-left: 1em
          margin-top: 1em
          +float-left
  &.node-type-flashcard
    .content-type-title
      +homework-helper-title
    .homework-helper-title
      font-size: 16px
      font-weight: bold
      margin: 1em 0 0 1em
  &.page-homework-helper-flashcards,
  &.page-node-add-flashcard,
  &.page-homework-helper-my-flashcards
    .homework-helper-title
      +homework-helper-title

.flashcard-cycle
  background-color: white
  +border-radius(10px)
  padding: 20px
  position: relative
  .flashcard-cycle-mode
    float: none
    position: static
    .flashcard-cycle-wrapper
      text-align: center
      -webkit-appearance: none
      +border-radius(10px)
      font: normal 12px/1.2 Arial, sans-serif
      float: none
      position: static
      padding: 8px 24px
      +tfk-button
      & > *
        +inline-block
    label[for=flashcard-cycle-mode]
      line-height: 1.5
      margin-right: 1em
  a.shuffle,
  a.restart,
  a.edit
    -webkit-appearance: none
    +border-radius(24px)
    +tfk-button
    font: normal 12px/1.2 Arial, sans-serif
    padding: 8px 24px
    margin-right: 20px
  .flashcard-cycle-pager
    a
      color: $tfk-red
      +float-left
      padding: 3px
      height: 35px
      width: 51px
      &.prev
        background: url(images/tfk-red-arrow.png) no-repeat scroll 2px 0 transparent
        padding-left: 42px
      &.flip
        -webkit-appearance: none
        +border-radius(14px)
        background: #fff url(../images/button.png) repeat-x
        border: 3px solid $tfk-red
        font: bold 12px/1.2 Arial, sans-serif
        padding: 4px 20px
        width: auto
        height: auto
        margin: 0 25px
        +box-shadow(transparentize($black, 0.5) 0 2px 4px)
      &.next
        background: url(images/tfk-red-arrow-right.png) no-repeat scroll 36px 0 transparent
        padding-right: 42px
  .flashcard-cycle-cards
    background: $tfk-yellow
    width: 500px
    text-align: center
    +trailer
    +border-radius(14px)
    +box-shadow(transparentize($black, 0.75) -4px 4px 6px)
    ul.question
      li.answer
        font-size: $ms2
        padding-top: 70px
        text-align: center
        font-weight: bold
        margin: 10px
      .item-list
        ul.answer
          background: white
          width: 325px
          height: 50px
          margin: 10px 0 0 75px
          +border-radius(11px)
          border: 4px solid lighten($black, 60.0)
          li.first
            font-size: $ms2
            padding: 15px
            color: $tfk-red
            margin: 0
  .flashcard-cycle-card
    width: 500px
    height: 250px
  .flashcard-cycle-mark
    position: absolute
    top: 80px
    left: 120px
    z-index: 10
    +float-left

.flashcard-numbering
  +float-right
  position: absolute
  top: 60px
  left: 300px
  z-index: 10
  width: 60px
  span.flashcard-numbering-current
    font-weight: bold
