body.page-homework-helper-writing-tips
  #content
    font-family: $font-sans
    font-weight: normal
    font-size: $ms-1
    line-height: $ms1
    width: 768px
    #homework-help-content
      position: relative
      padding: 10px
      border: 1px solid #cecece
      .homework-helper-title
        +homework-helper-title
        font-size: $ms1
        margin-left: -13px
        margin-top: 0
      #block-system-main
        +trailer
      .ui-accordion .ui-accordion-header
        background: #dddddd
        clear: left
        border: 1px solid #cecece
        font-size: 14px
        margin-bottom: 10px
        a
          padding: 0px
        a:last-child
          padding: 15px 0 15px 25px
      .ui-accordion-content-active
        margin-bottom: 10px
        border: 1px solid #cecece
        padding: 20px
        .views-field-title
          +trailer
          span.views-label-title
            font-weight: bold
          span.field-content
            font-weight: bold
        .views-field-body
          border-bottom: 1px solid #cecece
          padding-bottom: 20px
          span.views-label-body
            font-weight: bold
          p
            font-style: italic
          +trailer
    #webform-client-form-144
      background: #dddddd
      padding: 10px
      width: 480px
      margin-top: 0
      clear: left
      border: 1px solid #cecece
      font-size: 14px
      +trailer
      label
        font-size: $ms1
        padding: 0 0 10px
        h2.node-title
          margin: 0 0 10px 0
    button,
    input[type="reset"],
    input[type="submit"],
    input[type="button"]
      -webkit-appearance: none
      +border-radius(11px)
      background: $tfk-red url(../images/button.png) repeat-x
      border: 1px solid
      border-color: #ddd #bbb #999
      cursor: pointer
      color: white
      font: normal 12px/1.2 Arial, sans-serif
      outline: 0
      overflow: visible
      padding: 3px 10px 4px
      margin-right: 10px
    a.button
      -webkit-appearance: none
      +border-radius(9px)
      background: $tfk-red url(../images/button.png) repeat-x
      border: 1px solid
      border-color: #ddd #bbb #999
      cursor: pointer
      color: white
      font: normal 12px/1.2 Arial, sans-serif
      outline: 0
      overflow: visible
      padding: 4px 12px 4px

