body.page-node-add-flashcard #content #homework-help-content #homework-helper-title {
  padding-left: 13px;
}

body.page-node-add-flashcard #content #homework-help-content #block-system-main {
  margin-top: 60px;
}

#homework-help-content .form-item label {
  display: inline;
}

.form-item-title label {
  font-size: 1.5em;
}
