/* Links -------------------------------------------------------------- */
/* Typography -------------------------------------------------------------- */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* The following classes are for use with @extend. */
.serif, body {
  font-family: Georgia, serif;
}

.sans {
  font-family: sans-serif;
}

.mono {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

.caps, .allcaps, .smallcaps {
  letter-spacing: 0.1em;
}

.headers {
  font-family: sans-serif;
}

.allcaps {
  text-transform: uppercase;
}

.amp {
  font-family: GoudyBookletter1911Regular, "Goudy Old Style", Baskerville, Palatino, Georgia, serif;
}

.smallcaps {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
body {
  color: black;
  background: white;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
::-moz-selection {
  color: white;
  background: #d71700;
  text-shadow: none;
}

::selection {
  color: white;
  background: #d71700;
  text-shadow: none;
}

/* Establish baseline rhythm
 * from compass/typography/_vertical_rhythm */
body {
  font-size: 87.5%;
  line-height: 1.714em;
}

html > body {
  font-size: 14px;
}

.container, body #container {
  *zoom: 1;
  margin: auto;
  width: 984px;
  max-width: 100%;
}
.container:after, body #container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.wireframe {
  outline: 1px dashed red;
}

body #container > header, body #container > #main, body #container > footer {
  clear: both;
  margin-left: 1.22%;
  margin-right: 1.22%;
}

body.homework-helper #main-wrapper .region-sidebar-first .section {
  margin-bottom: 10px;
}
body.homework-helper #content {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  width: 768px;
}
body.homework-helper #content a:hover {
  color: #ffaea4;
}
body.homework-helper #content .paper-textarea {
  width: 480px;
}
body.homework-helper #content #block-menu-menu-homework-help {
  border: 1px solid #cecece;
  background: #dddddd;
  margin-bottom: 10px;
  height: 140px;
}
body.homework-helper #content #block-menu-menu-homework-help li.first {
  float: left;
  padding: 10px;
}
body.homework-helper #content #block-menu-menu-homework-help li.first a#menu-writing-center {
  color: white;
  padding: 10px 254px 10px 10px;
  background: #d71700;
  text-transform: uppercase;
  display: inline;
  float: left;
}
body.homework-helper #content #block-menu-menu-homework-help li.first ul.menu {
  padding: 10px;
}
body.homework-helper #content #block-menu-menu-homework-help li.first ul.menu li.first, body.homework-helper #content #block-menu-menu-homework-help li.first ul.menu li.last {
  padding: 0;
}
body.homework-helper #content #block-menu-menu-homework-help li.first ul.menu {
  display: inline;
  float: left;
  clear: both;
}
body.homework-helper #content #block-menu-menu-homework-help li.last {
  display: inline;
  float: left;
  padding: 10px;
}
body.homework-helper #content #block-menu-menu-homework-help li.last ul.menu li.first {
  float: none;
}
body.homework-helper #content #block-menu-menu-homework-help li.last a#menu-study-helper {
  color: white;
  padding: 10px 254px 10px 10px;
  background: #999999;
  text-transform: uppercase;
  display: inline;
  float: left;
}
body.homework-helper #content #block-menu-menu-homework-help li.last ul.menu {
  padding: 10px;
}
body.homework-helper #content #block-menu-menu-homework-help li.last ul.menu li.first, body.homework-helper #content #block-menu-menu-homework-help li.last ul.menu li.last {
  padding: 0;
}
body.homework-helper #content #block-menu-menu-homework-help li.last ul.menu {
  display: inline;
  float: left;
  clear: both;
}
body.homework-helper #content #homework-helper-title {
  font-size: 14px;
  border-bottom: 0;
  padding: 20px;
  text-transform: uppercase;
}
body.homework-helper #content h2.node-title {
  padding-top: 60px;
  margin-bottom: 1.714em;
}
body.homework-helper .block {
  margin: 0px;
}
body.homework-helper .node {
  margin: 0px;
}

body.page-node-98 #content #homework-help-content,
body.page-node-99 #content #homework-help-content {
  border: 1px solid #cecece;
  margin-bottom: 1.714em;
}
body.page-node-98 #content #homework-help-content .img img,
body.page-node-99 #content #homework-help-content .img img {
  display: inline;
  float: left;
  margin: 10px;
}
body.page-node-98 #content .homework-helper-title,
body.page-node-99 #content .homework-helper-title {
  text-transform: none;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1;
  padding: 24px;
}
body.page-node-98 #content .field-item p,
body.page-node-99 #content .field-item p {
  padding: 0 24px 24px 24px;
}
body.page-node-98 #content p,
body.page-node-99 #content p {
  margin-top: 0;
}
body.page-node-98 #content .row,
body.page-node-99 #content .row {
  padding: 24px;
  border-top: 1px solid #cecece;
}
body.page-node-98 #content .row p,
body.page-node-99 #content .row p {
  margin-top: 0;
  padding: 0;
}
body.page-node-98 #content .row h2 a,
body.page-node-99 #content .row h2 a {
  color: #d71700;
  font-size: 32px;
  line-height: 120%;
  margin: 0;
}
body.page-node-98 #content .row h2 a:hover,
body.page-node-99 #content .row h2 a:hover {
  color: #ffaea4;
}

#homework-help-content .progress-disabled {
  float: none;
  display: inline;
}
#homework-help-content .ajax-progress {
  font-size: 1.5em;
  padding: 30px;
  position: fixed;
  left: 40%;
  top: 40%;
  border: 4px solid #addcfa;
  background: #ddeeff;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
}
#homework-help-content .hh-throbber-message {
  width: 130px;
}

body.node-type-a-paper #content, body.node-type-paper-step #content {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  width: 768px;
}
body.node-type-a-paper #content #homework-help-content, body.node-type-paper-step #content #homework-help-content {
  position: relative;
  padding: 10px 10px 10px 20px;
  border: 1px solid #cecece;
}
body.node-type-a-paper #content #homework-help-content #block-system-main, body.node-type-paper-step #content #homework-help-content #block-system-main {
  margin-bottom: 1.714em;
}
body.node-type-a-paper #content #homework-help-content #block-system-main a, body.node-type-paper-step #content #homework-help-content #block-system-main a {
  margin-right: 10px;
}
body.node-type-a-paper #content #homework-help-content #block-system-main .messages, body.node-type-paper-step #content #homework-help-content #block-system-main .messages {
  width: 440px;
  position: absolute;
  left: 0;
  margin: 0;
}
body.node-type-a-paper #content #homework-help-content .homework-helper-title, body.node-type-paper-step #content #homework-help-content .homework-helper-title {
  position: absolute;
  top: 65px;
}
body.node-type-a-paper #content #homework-help-content .content-type-title, body.node-type-paper-step #content #homework-help-content .content-type-title {
  background-image: url(images/tfk-red-tag.png);
  background-repeat: no-repeat;
  padding: 12px 12px 12px 24px;
  height: 23px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: -22px;
  font-size: 18px;
  display: inline;
  float: left;
  width: 200px;
}
body.node-type-a-paper #content .paper-textarea, body.node-type-paper-step #content .paper-textarea {
  width: 480px;
  padding: 36px 0 12px;
}
body.node-type-a-paper #content .paper-textarea p, body.node-type-paper-step #content .paper-textarea p {
  text-indent: 40px;
  margin-bottom: 1em;
}
body.node-type-a-paper #content #aplus-papers-checklist-block, body.node-type-paper-step #content #aplus-papers-checklist-block {
  border: 1px solid #cecece;
  list-style: none;
  width: 220px;
  display: inline;
  float: right;
}
body.node-type-a-paper #content #aplus-papers-checklist-block .aplus-papers-checklist-title, body.node-type-paper-step #content #aplus-papers-checklist-block .aplus-papers-checklist-title {
  color: white;
  background-color: #d71700;
  padding: 2px;
  font-weight: bold;
  text-transform: uppercase;
  border: 10px solid #dddddd;
  text-align: center;
}
body.node-type-a-paper #content #aplus-papers-checklist-block ul#aplus-papers-checklist, body.node-type-paper-step #content #aplus-papers-checklist-block ul#aplus-papers-checklist {
  margin-bottom: 0;
}
body.node-type-a-paper #content #aplus-papers-checklist-block li, body.node-type-paper-step #content #aplus-papers-checklist-block li {
  border-bottom: 1px solid #cecece;
  background: #dddddd url(images/checkbox-unchecked.gif);
  background-repeat: no-repeat;
  background-position: 0 0.5em;
  margin: 0;
  padding: 10px 35px;
  color: #d71700;
  font-weight: bold;
}
body.node-type-a-paper #content #aplus-papers-checklist-block li.current, body.node-type-paper-step #content #aplus-papers-checklist-block li.current {
  border-bottom: 1px solid #cecece;
  background: white url(images/checkbox-unchecked.gif);
  background-repeat: no-repeat;
  background-position: 0 0.7em;
  margin: 0;
  padding: 10px 35px;
  color: black;
}
body.node-type-a-paper #content #aplus-papers-checklist-block li.checked, body.node-type-paper-step #content #aplus-papers-checklist-block li.checked {
  border-bottom: 1px solid #cecece;
  background: white url(images/checkbox-checked.gif);
  background-repeat: no-repeat;
  background-position: 0 0.7em;
  margin: 0;
  padding: 10px 35px;
  color: black;
}
body.node-type-a-paper #content #aplus-papers-checklist-block li.last, body.node-type-paper-step #content #aplus-papers-checklist-block li.last {
  border-bottom: 0;
}
body.node-type-a-paper #content h2.node-title a, body.node-type-paper-step #content h2.node-title a {
  color: black;
  font-size: 20px;
  line-height: 18px;
}
body.node-type-a-paper #content .field-name-field-step-example, body.node-type-paper-step #content .field-name-field-step-example {
  background: #dddddd;
  border: 1px solid #cecece;
  margin: 10px;
  padding: 24px;
}
body.node-type-a-paper #content .field-name-field-step-example p, body.node-type-paper-step #content .field-name-field-step-example p {
  margin-bottom: 0;
  font-style: italic;
}
body.node-type-a-paper #content .form-type-textfield, body.node-type-a-paper #content .form-type-textarea, body.node-type-paper-step #content .form-type-textfield, body.node-type-paper-step #content .form-type-textarea {
  background: #dddddd;
  padding: 10px;
  width: 480px;
  margin-top: 0;
  clear: left;
  border: 1px solid #cecece;
  font-size: 14px;
}
body.node-type-a-paper #content .form-type-textfield label, body.node-type-a-paper #content .form-type-textarea label, body.node-type-paper-step #content .form-type-textfield label, body.node-type-paper-step #content .form-type-textarea label {
  font-size: 18px;
  padding: 0 0 10px;
}
body.node-type-a-paper #content .aplus-start-button, body.node-type-paper-step #content .aplus-start-button {
  margin-left: 213px;
  margin-top: 20px;
  margin-bottom: 40px;
}
body.node-type-a-paper #content .aplus-overview, body.node-type-paper-step #content .aplus-overview {
  width: 505px;
  font-size: 14px;
}
body.node-type-a-paper #content .content .content .form-item input, body.node-type-paper-step #content .content .content .form-item input {
  font-size: 14px;
}
body.node-type-a-paper #content .content .content .content, body.node-type-paper-step #content .content .content .content {
  font-size: 14px;
}
body.node-type-a-paper #content #aplus-submit-buttons, body.node-type-paper-step #content #aplus-submit-buttons {
  background: #dddddd;
  padding: 10px;
  width: 480px;
  border: 1px solid #cecece;
  height: 25px;
  margin-top: -20px;
  text-align: right;
  display: inline;
  float: left;
}
body.node-type-a-paper #content #aplus-submit-buttons .aplus-start-over, body.node-type-paper-step #content #aplus-submit-buttons .aplus-start-over {
  background: url(images/tfk-red-arrow.png);
  background-repeat: no-repeat;
  display: inline;
  float: left;
  font-style: italic;
  font-family: Georgia, serif;
  color: #d71700;
  padding: 3px 0 0 42px;
  height: 35px;
}
body.node-type-a-paper #content .node-paper-step, body.node-type-paper-step #content .node-paper-step {
  padding: 10px 0;
  width: 500px;
  display: inline;
  float: left;
}
body.node-type-a-paper #content .node-paper-step label, body.node-type-paper-step #content .node-paper-step label {
  font-size: 18px;
  padding: 0 0 10px;
}
body.node-type-a-paper #content .node-paper-step h2.node-title, body.node-type-paper-step #content .node-paper-step h2.node-title {
  margin: 0 0 10px 0;
}
body.node-type-a-paper #content #aplus-review-step, body.node-type-a-paper #content #aplus-final-step, body.node-type-paper-step #content #aplus-review-step, body.node-type-paper-step #content #aplus-final-step {
  width: 480px;
  display: inline;
  float: left;
  margin-top: 10px;
}
body.node-type-a-paper #content #aplus-review-step h2.node-title, body.node-type-a-paper #content #aplus-final-step h2.node-title, body.node-type-paper-step #content #aplus-review-step h2.node-title, body.node-type-paper-step #content #aplus-final-step h2.node-title {
  margin: 0 0 10px 0;
}
body.node-type-a-paper #content #aplus-review-step .a-plus-review-description, body.node-type-a-paper #content #aplus-final-step .a-plus-review-description, body.node-type-paper-step #content #aplus-review-step .a-plus-review-description, body.node-type-paper-step #content #aplus-final-step .a-plus-review-description {
  font-weight: bold;
  margin-bottom: 10px;
}
body.node-type-a-paper #content #aplus-review-step label, body.node-type-a-paper #content #aplus-final-step label, body.node-type-paper-step #content #aplus-review-step label, body.node-type-paper-step #content #aplus-final-step label {
  font-size: 18px;
  padding: 0 0 10px;
}
body.node-type-a-paper #content button,
body.node-type-a-paper #content input[type="reset"],
body.node-type-a-paper #content input[type="submit"],
body.node-type-a-paper #content input[type="button"], body.node-type-paper-step #content button, body.node-type-paper-step #content input[type="reset"], body.node-type-paper-step #content input[type="submit"], body.node-type-paper-step #content input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  -ms-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
  background: #d71700 url(../images/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: white;
  font: normal 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px 4px;
  margin-right: 10px;
}
body.node-type-a-paper #content a.button, body.node-type-paper-step #content a.button {
  -webkit-appearance: none;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
  background: #d71700 url(../images/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: white;
  font: normal 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 4px 12px 4px;
}
body.node-type-a-paper #content #aplus-print-save-buttons, body.node-type-paper-step #content #aplus-print-save-buttons {
  text-align: center;
  clear: right;
  padding-top: 10px;
  width: 230px;
  display: inline;
  float: right;
}
body.node-type-a-paper #content #aplus-print-save-buttons input, body.node-type-paper-step #content #aplus-print-save-buttons input {
  margin-top: 10px;
}
body.node-type-a-paper #content .paper-title, body.node-type-paper-step #content .paper-title {
  font-size: 20px;
  text-align: center;
}
body.node-type-a-paper #content .paper-date, body.node-type-paper-step #content .paper-date {
  display: inline;
  float: right;
  font-size: 14px;
}
body.node-type-a-paper #content .student-name, body.node-type-paper-step #content .student-name {
  display: inline;
  float: left;
  font-size: 14px;
}

body.page-homework-helper-a-plus-papers .view-a-papers .view-header {
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-bottom: 1.714em;
}
body.page-homework-helper-a-plus-papers .view-a-papers .view-header .content-type-title {
  background-image: url(images/tfk-red-tag.png);
  background-repeat: no-repeat;
  padding: 12px 12px 12px 24px;
  height: 23px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: -22px;
  font-size: 18px;
  margin-left: -17px;
}
body.page-homework-helper-a-plus-papers .view-a-papers .views-row {
  padding-left: 135px;
  padding-right: 10px;
  border-bottom: 1px solid #cecece;
  padding-bottom: 24px;
}
body.page-homework-helper-a-plus-papers #block-system-main {
  border-top: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-left: 1px solid #cecece;
  margin-bottom: 1.714em;
}
body.page-homework-helper-a-plus-papers #block-system-main .views-field-title a {
  font-size: 20px;
}
body.page-homework-helper-a-plus-papers #block-system-main .views-field-field-paper-image {
  display: inline;
  float: left;
  margin: 0 0 0 -125px;
}
body.page-homework-helper-a-plus-papers #block-system-main .views-field-nothing {
  margin-top: 1.714em;
}
body.page-homework-helper-a-plus-papers #block-system-main .views-field-nothing .related-pdfs {
  border: 4px solid #addcfa;
  background: #ddeeff url(images/pdf-image.png);
  background-repeat: no-repeat;
  background-position: 0 0.5em;
  padding: 5px 5px 5px 30px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
}
body.page-homework-helper-a-plus-papers #block-system-main .views-field-nothing .related-pdfs a {
  margin-right: 10px;
}

body.node-type-flashcard.not-logged-in div.tabs, body.page-homework-helper-flashcards.not-logged-in div.tabs, body.page-node-add-flashcard.not-logged-in div.tabs, body.page-homework-helper-my-flashcards.not-logged-in div.tabs {
  display: none;
}
body.node-type-flashcard #content, body.page-homework-helper-flashcards #content, body.page-node-add-flashcard #content, body.page-homework-helper-my-flashcards #content {
  width: 768px;
}
body.node-type-flashcard #content h2.node-title, body.page-homework-helper-flashcards #content h2.node-title, body.page-node-add-flashcard #content h2.node-title, body.page-homework-helper-my-flashcards #content h2.node-title {
  display: none;
}
body.node-type-flashcard #homework-help-content, body.page-homework-helper-flashcards #homework-help-content, body.page-node-add-flashcard #homework-help-content, body.page-homework-helper-my-flashcards #homework-help-content {
  border: 1px solid #cecece;
  overflow: hidden;
}
body.node-type-flashcard .node-flashcard-form,
body.node-type-flashcard .node-flashcard, body.page-homework-helper-flashcards .node-flashcard-form, body.page-homework-helper-flashcards .node-flashcard, body.page-node-add-flashcard .node-flashcard-form, body.page-node-add-flashcard .node-flashcard, body.page-homework-helper-my-flashcards .node-flashcard-form, body.page-homework-helper-my-flashcards .node-flashcard {
  background: transparent url(images/flashcard-background.jpg) repeat;
  margin: 10px;
  padding: 20px;
}
body.node-type-flashcard .node-flashcard-form > div, body.page-homework-helper-flashcards .node-flashcard-form > div, body.page-node-add-flashcard .node-flashcard-form > div, body.page-homework-helper-my-flashcards .node-flashcard-form > div {
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  *zoom: 1;
  position: relative;
}
body.node-type-flashcard .node-flashcard-form > div:after, body.page-homework-helper-flashcards .node-flashcard-form > div:after, body.page-node-add-flashcard .node-flashcard-form > div:after, body.page-homework-helper-my-flashcards .node-flashcard-form > div:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body.node-type-flashcard .node-flashcard-form .form-item-title input, body.page-homework-helper-flashcards .node-flashcard-form .form-item-title input, body.page-node-add-flashcard .node-flashcard-form .form-item-title input, body.page-homework-helper-my-flashcards .node-flashcard-form .form-item-title input {
  width: 80%;
}
body.node-type-flashcard .node-flashcard-form .field-type-flashcard .form-item, body.page-homework-helper-flashcards .node-flashcard-form .field-type-flashcard .form-item, body.page-node-add-flashcard .node-flashcard-form .field-type-flashcard .form-item, body.page-homework-helper-my-flashcards .node-flashcard-form .field-type-flashcard .form-item {
  margin-bottom: 0;
}
body.node-type-flashcard .node-flashcard-form .field-type-flashcard .field-multiple-table, body.page-homework-helper-flashcards .node-flashcard-form .field-type-flashcard .field-multiple-table, body.page-node-add-flashcard .node-flashcard-form .field-type-flashcard .field-multiple-table, body.page-homework-helper-my-flashcards .node-flashcard-form .field-type-flashcard .field-multiple-table {
  margin-bottom: 1em;
  width: 100%;
}
body.node-type-flashcard .node-flashcard-form .field-type-flashcard .field-multiple-table tbody,
body.node-type-flashcard .node-flashcard-form .field-type-flashcard .field-multiple-table tr, body.page-homework-helper-flashcards .node-flashcard-form .field-type-flashcard .field-multiple-table tbody, body.page-homework-helper-flashcards .node-flashcard-form .field-type-flashcard .field-multiple-table tr, body.page-node-add-flashcard .node-flashcard-form .field-type-flashcard .field-multiple-table tbody, body.page-node-add-flashcard .node-flashcard-form .field-type-flashcard .field-multiple-table tr, body.page-homework-helper-my-flashcards .node-flashcard-form .field-type-flashcard .field-multiple-table tbody, body.page-homework-helper-my-flashcards .node-flashcard-form .field-type-flashcard .field-multiple-table tr {
  border: none;
}
body.node-type-flashcard .node-flashcard-form .field-type-flashcard .field-multiple-table td, body.page-homework-helper-flashcards .node-flashcard-form .field-type-flashcard .field-multiple-table td, body.page-node-add-flashcard .node-flashcard-form .field-type-flashcard .field-multiple-table td, body.page-homework-helper-my-flashcards .node-flashcard-form .field-type-flashcard .field-multiple-table td {
  padding: 1em;
}
body.node-type-flashcard .node-flashcard-form .field-type-flashcard .field-multiple-table td div:last-child, body.page-homework-helper-flashcards .node-flashcard-form .field-type-flashcard .field-multiple-table td div:last-child, body.page-node-add-flashcard .node-flashcard-form .field-type-flashcard .field-multiple-table td div:last-child, body.page-homework-helper-my-flashcards .node-flashcard-form .field-type-flashcard .field-multiple-table td div:last-child {
  margin-left: 1em;
  padding-top: 1em;
}
body.node-type-flashcard .node-flashcard-form .field-type-flashcard .field-multiple-table td input, body.page-homework-helper-flashcards .node-flashcard-form .field-type-flashcard .field-multiple-table td input, body.page-node-add-flashcard .node-flashcard-form .field-type-flashcard .field-multiple-table td input, body.page-homework-helper-my-flashcards .node-flashcard-form .field-type-flashcard .field-multiple-table td input {
  width: 80%;
}
body.node-type-flashcard .node-flashcard-form .field-type-flashcard .field-add-more-submit, body.page-homework-helper-flashcards .node-flashcard-form .field-type-flashcard .field-add-more-submit, body.page-node-add-flashcard .node-flashcard-form .field-type-flashcard .field-add-more-submit, body.page-homework-helper-my-flashcards .node-flashcard-form .field-type-flashcard .field-add-more-submit {
  -webkit-appearance: none;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px;
  border-radius: 14px;
  background: white url(../images/button.png) repeat-x;
  border: 3px solid #d71700;
  color: #d71700;
  cursor: pointer;
  font: bold 12px/1.2 Arial, sans-serif;
  height: auto;
  padding: 4px 20px;
  margin: 0;
  width: auto;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
}
body.node-type-flashcard .node-flashcard-form .form-actions, body.page-homework-helper-flashcards .node-flashcard-form .form-actions, body.page-node-add-flashcard .node-flashcard-form .form-actions, body.page-homework-helper-my-flashcards .node-flashcard-form .form-actions {
  position: absolute;
  bottom: 0.5em;
  right: 0;
  margin: 0;
  z-index: 10;
}
body.node-type-flashcard .node-flashcard-form .form-actions input, body.page-homework-helper-flashcards .node-flashcard-form .form-actions input, body.page-node-add-flashcard .node-flashcard-form .form-actions input, body.page-homework-helper-my-flashcards .node-flashcard-form .form-actions input {
  background: url(images/tfk-red-arrow-right.png) no-repeat scroll 42px 3px transparent;
  border: none;
  color: #d71700;
  cursor: pointer;
  font: bold 12px/1.2 Arial, sans-serif;
  height: 30px;
  padding: 3px;
  text-align: left;
  width: 100px;
  -webkit-appearance: none;
}
body.node-type-flashcard .node-flashcard .study-helper-help, body.page-homework-helper-flashcards .node-flashcard .study-helper-help, body.page-node-add-flashcard .node-flashcard .study-helper-help, body.page-homework-helper-my-flashcards .node-flashcard .study-helper-help {
  clear: both;
  padding-left: 20px;
  margin-top: 1.714em;
}
body.node-type-flashcard .node-flashcard .study-helper-url, body.page-homework-helper-flashcards .node-flashcard .study-helper-url, body.page-node-add-flashcard .node-flashcard .study-helper-url, body.page-homework-helper-my-flashcards .node-flashcard .study-helper-url {
  *zoom: 1;
  clear: both;
}
body.node-type-flashcard .node-flashcard .study-helper-url:after, body.page-homework-helper-flashcards .node-flashcard .study-helper-url:after, body.page-node-add-flashcard .node-flashcard .study-helper-url:after, body.page-homework-helper-my-flashcards .node-flashcard .study-helper-url:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body.node-type-flashcard .node-flashcard .study-helper-url .form-item, body.page-homework-helper-flashcards .node-flashcard .study-helper-url .form-item, body.page-node-add-flashcard .node-flashcard .study-helper-url .form-item, body.page-homework-helper-my-flashcards .node-flashcard .study-helper-url .form-item {
  display: inline;
  float: left;
  margin: 0;
}
body.node-type-flashcard .node-flashcard .study-helper-url .form-item input, body.page-homework-helper-flashcards .node-flashcard .study-helper-url .form-item input, body.page-node-add-flashcard .node-flashcard .study-helper-url .form-item input, body.page-homework-helper-my-flashcards .node-flashcard .study-helper-url .form-item input {
  background-color: #d71700;
  border-color: #d71700;
}
body.node-type-flashcard .node-flashcard .study-helper-url #study-helper-copy, body.page-homework-helper-flashcards .node-flashcard .study-helper-url #study-helper-copy, body.page-node-add-flashcard .node-flashcard .study-helper-url #study-helper-copy, body.page-homework-helper-my-flashcards .node-flashcard .study-helper-url #study-helper-copy {
  -webkit-appearance: none;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  -khtml-border-radius: 24px;
  border-radius: 24px;
  background: #d71700 url(../images/button.png) repeat-x;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, #ff533e -3px 3px 5px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, #ff533e -3px 3px 5px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, #ff533e -3px 3px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, #ff533e -3px 3px 5px inset;
  border: none;
  outline: 0;
  color: white;
  cursor: pointer;
  overflow: visible;
  padding: 0.5em 1em;
  margin-left: 1em;
  margin-top: 1em;
  display: inline;
  float: left;
}
body.node-type-flashcard .content-type-title {
  background-image: url(images/tfk-red-tag.png);
  background-repeat: no-repeat;
  padding: 12px 12px 12px 24px;
  height: 23px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: -22px;
}
body.node-type-flashcard .homework-helper-title {
  font-size: 16px;
  font-weight: bold;
  margin: 1em 0 0 1em;
}
body.page-homework-helper-flashcards .homework-helper-title, body.page-node-add-flashcard .homework-helper-title, body.page-homework-helper-my-flashcards .homework-helper-title {
  background-image: url(images/tfk-red-tag.png);
  background-repeat: no-repeat;
  padding: 12px 12px 12px 24px;
  height: 23px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: -22px;
}

.flashcard-cycle {
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.flashcard-cycle .flashcard-cycle-mode {
  float: none;
  position: static;
}
.flashcard-cycle .flashcard-cycle-mode .flashcard-cycle-wrapper {
  text-align: center;
  -webkit-appearance: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font: normal 12px/1.2 Arial, sans-serif;
  float: none;
  position: static;
  padding: 8px 24px;
  background: #d71700 url(../images/button.png) repeat-x;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, #ff533e -3px 3px 5px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, #ff533e -3px 3px 5px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, #ff533e -3px 3px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, #ff533e -3px 3px 5px inset;
  border: none;
  outline: 0;
  color: white;
  cursor: pointer;
  overflow: visible;
}
.flashcard-cycle .flashcard-cycle-mode .flashcard-cycle-wrapper > * {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
.flashcard-cycle .flashcard-cycle-mode .flashcard-cycle-wrapper > * {
  *display: inline;
}
.flashcard-cycle .flashcard-cycle-mode label[for=flashcard-cycle-mode] {
  line-height: 1.5;
  margin-right: 1em;
}
.flashcard-cycle a.shuffle,
.flashcard-cycle a.restart,
.flashcard-cycle a.edit {
  -webkit-appearance: none;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ms-border-radius: 24px;
  -khtml-border-radius: 24px;
  border-radius: 24px;
  background: #d71700 url(../images/button.png) repeat-x;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, #ff533e -3px 3px 5px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, #ff533e -3px 3px 5px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, #ff533e -3px 3px 5px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px, #ff533e -3px 3px 5px inset;
  border: none;
  outline: 0;
  color: white;
  cursor: pointer;
  overflow: visible;
  font: normal 12px/1.2 Arial, sans-serif;
  padding: 8px 24px;
  margin-right: 20px;
}
.flashcard-cycle .flashcard-cycle-pager a {
  color: #d71700;
  display: inline;
  float: left;
  padding: 3px;
  height: 35px;
  width: 51px;
}
.flashcard-cycle .flashcard-cycle-pager a.prev {
  background: url(images/tfk-red-arrow.png) no-repeat scroll 2px 0 transparent;
  padding-left: 42px;
}
.flashcard-cycle .flashcard-cycle-pager a.flip {
  -webkit-appearance: none;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px;
  border-radius: 14px;
  background: white url(../images/button.png) repeat-x;
  border: 3px solid #d71700;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 4px 20px;
  width: auto;
  height: auto;
  margin: 0 25px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
}
.flashcard-cycle .flashcard-cycle-pager a.next {
  background: url(images/tfk-red-arrow-right.png) no-repeat scroll 36px 0 transparent;
  padding-right: 42px;
}
.flashcard-cycle .flashcard-cycle-cards {
  background: #f8e549;
  width: 500px;
  text-align: center;
  margin-bottom: 1.714em;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -o-border-radius: 14px;
  -ms-border-radius: 14px;
  -khtml-border-radius: 14px;
  border-radius: 14px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) -4px 4px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) -4px 4px 6px;
  -o-box-shadow: rgba(0, 0, 0, 0.25) -4px 4px 6px;
  box-shadow: rgba(0, 0, 0, 0.25) -4px 4px 6px;
}
.flashcard-cycle .flashcard-cycle-cards ul.question li.answer {
  font-size: 20px;
  padding-top: 70px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}
.flashcard-cycle .flashcard-cycle-cards ul.question .item-list ul.answer {
  background: white;
  width: 325px;
  height: 50px;
  margin: 10px 0 0 75px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  -ms-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
  border: 4px solid #999999;
}
.flashcard-cycle .flashcard-cycle-cards ul.question .item-list ul.answer li.first {
  font-size: 20px;
  padding: 15px;
  color: #d71700;
  margin: 0;
}
.flashcard-cycle .flashcard-cycle-card {
  width: 500px;
  height: 250px;
}
.flashcard-cycle .flashcard-cycle-mark {
  position: absolute;
  top: 80px;
  left: 120px;
  z-index: 10;
  display: inline;
  float: left;
}

.flashcard-numbering {
  display: inline;
  float: right;
  position: absolute;
  top: 60px;
  left: 300px;
  z-index: 10;
  width: 60px;
}
.flashcard-numbering span.flashcard-numbering-current {
  font-weight: bold;
}

.view-flashcard-landing-page.view-id-flashcard_landing_page .view-header {
  display: block;
  width: 250px;
  background: #e6e6e6;
  padding: 5px 15px 10px;
  float: right;
  border: 1px solid #cfcfcf;
  margin: 0 10px 15px;
}
.view-flashcard-landing-page.view-id-flashcard_landing_page .view-header .creation-link {
  text-align: center;
  margin: 10px;
}
.view-flashcard-landing-page.view-id-flashcard_landing_page .view-header .creation-link a {
  color: white;
  background: #d71700;
  padding: 5px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: #999999 2px 2px 2px 2px;
  -webkit-box-shadow: #999999 2px 2px 2px 2px;
  -o-box-shadow: #999999 2px 2px 2px 2px;
  box-shadow: #999999 2px 2px 2px 2px;
  margin: 10px;
}
.view-flashcard-landing-page.view-id-flashcard_landing_page h3.views-accordion-flashcard_landing_page-page_1-header {
  width: 440px;
  border: 0px;
  background: #dddddd;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
  font-size: 140%;
  line-height: 0;
  padding: 0;
  margin-top: 20px;
  margin-left: 10px;
  padding: 5px;
}
.view-flashcard-landing-page.view-id-flashcard_landing_page h3.views-accordion-flashcard_landing_page-page_1-header span.ui-icon.ui-icon-triangle-1-e {
  background-image: url("../../images/arrow_right.png");
  background-position: 0 0;
}
.view-flashcard-landing-page.view-id-flashcard_landing_page h3.views-accordion-flashcard_landing_page-page_1-header span.ui-icon.ui-icon-triangle-1-s {
  background-image: url("../../images/arrow_down.png");
  background-position: 0 0;
}
.view-flashcard-landing-page.view-id-flashcard_landing_page h3.views-accordion-flashcard_landing_page-page_1-header a {
  margin-top: -10px;
}
.view-flashcard-landing-page.view-id-flashcard_landing_page .ui-accordion-content, .view-flashcard-landing-page.view-id-flashcard_landing_page.view-display-id-page_2 {
  width: 340px;
  border: 0px;
  margin-left: 10px;
  overflow: visible;
  margin-top: 0;
}
.view-flashcard-landing-page.view-id-flashcard_landing_page .ui-accordion-content .views-row, .view-flashcard-landing-page.view-id-flashcard_landing_page.view-display-id-page_2 .views-row {
  overflow: hidden;
  *zoom: 1;
}
.view-flashcard-landing-page.view-id-flashcard_landing_page .ui-accordion-content .field-content:before, .view-flashcard-landing-page.view-id-flashcard_landing_page.view-display-id-page_2 .field-content:before {
  content: url("../../images/card_icon.png");
  clear: both;
  display: inline;
  float: left;
  margin-right: 10px;
}
.view-flashcard-landing-page.view-id-flashcard_landing_page .ui-accordion-content .field-content a, .view-flashcard-landing-page.view-id-flashcard_landing_page.view-display-id-page_2 .field-content a {
  font-size: 120%;
}

body.page-homework-helper-writing-tips #content {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  width: 768px;
}
body.page-homework-helper-writing-tips #content #homework-help-content {
  position: relative;
  padding: 10px;
  border: 1px solid #cecece;
}
body.page-homework-helper-writing-tips #content #homework-help-content .homework-helper-title {
  background-image: url(images/tfk-red-tag.png);
  background-repeat: no-repeat;
  padding: 12px 12px 12px 24px;
  height: 23px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: -22px;
  font-size: 18px;
  margin-left: -13px;
  margin-top: 0;
}
body.page-homework-helper-writing-tips #content #homework-help-content #block-system-main {
  margin-bottom: 1.714em;
}
body.page-homework-helper-writing-tips #content #homework-help-content .ui-accordion .ui-accordion-header {
  background: #dddddd;
  clear: left;
  border: 1px solid #cecece;
  font-size: 14px;
  margin-bottom: 10px;
}
body.page-homework-helper-writing-tips #content #homework-help-content .ui-accordion .ui-accordion-header a {
  padding: 0px;
}
body.page-homework-helper-writing-tips #content #homework-help-content .ui-accordion .ui-accordion-header a:last-child {
  padding: 15px 0 15px 25px;
}
body.page-homework-helper-writing-tips #content #homework-help-content .ui-accordion-content-active {
  margin-bottom: 10px;
  border: 1px solid #cecece;
  padding: 20px;
}
body.page-homework-helper-writing-tips #content #homework-help-content .ui-accordion-content-active .views-field-title {
  margin-bottom: 1.714em;
}
body.page-homework-helper-writing-tips #content #homework-help-content .ui-accordion-content-active .views-field-title span.views-label-title {
  font-weight: bold;
}
body.page-homework-helper-writing-tips #content #homework-help-content .ui-accordion-content-active .views-field-title span.field-content {
  font-weight: bold;
}
body.page-homework-helper-writing-tips #content #homework-help-content .ui-accordion-content-active .views-field-body {
  border-bottom: 1px solid #cecece;
  padding-bottom: 20px;
  margin-bottom: 1.714em;
}
body.page-homework-helper-writing-tips #content #homework-help-content .ui-accordion-content-active .views-field-body span.views-label-body {
  font-weight: bold;
}
body.page-homework-helper-writing-tips #content #homework-help-content .ui-accordion-content-active .views-field-body p {
  font-style: italic;
}
body.page-homework-helper-writing-tips #content #webform-client-form-144 {
  background: #dddddd;
  padding: 10px;
  width: 480px;
  margin-top: 0;
  clear: left;
  border: 1px solid #cecece;
  font-size: 14px;
  margin-bottom: 1.714em;
}
body.page-homework-helper-writing-tips #content #webform-client-form-144 label {
  font-size: 18px;
  padding: 0 0 10px;
}
body.page-homework-helper-writing-tips #content #webform-client-form-144 label h2.node-title {
  margin: 0 0 10px 0;
}
body.page-homework-helper-writing-tips #content button,
body.page-homework-helper-writing-tips #content input[type="reset"],
body.page-homework-helper-writing-tips #content input[type="submit"],
body.page-homework-helper-writing-tips #content input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  -ms-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
  background: #d71700 url(../images/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: white;
  font: normal 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px 4px;
  margin-right: 10px;
}
body.page-homework-helper-writing-tips #content a.button {
  -webkit-appearance: none;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
  background: #d71700 url(../images/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: white;
  font: normal 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 4px 12px 4px;
}
