/*Used for external site link popup*/
.ui-dialog {
    position: absolute;
    width: 627px;
    overflow: hidden;
    background:#D71700;
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
}
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-widget-header {
    background: #D71700 url(../images/tfk-head-logo.png) 220px 14px no-repeat;
    border:none;
    height:0;
    padding-top:115px;
}
.ui-dialog .ui-dialog-title {} 
.ui-dialog .ui-dialog-titlebar-close {display:none;}
.ui-dialog .ui-dialog-content {
    position: relative; 
    border: none;/*clear out inherited*/
    border-left:20px solid #D71700;
    border-right:20px solid #D71700; 
    padding: 20px 70px 0px 70px;
    background: #FFFFFF;
    overflow: none;
    zoom: 1;
    font-size: 12px;
}
.ui-dialog .ui-dialog-buttonpane {
    border:none;/*clear out inherited*/
    border-left:20px solid #D71700;
    border-right:20px solid #D71700;
    border-bottom:20px solid #D71700;
    padding-top:20px;
    background: #FFFFFF;
}
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
.tfk-jump h1 {
    font-weight:bold;
    font-size:30px;
    line-height:30px;
    color:#D71700;
    text-align:center;
}
.ui-dialog button {
    background: url("../images/white-forward-arrow.png") no-repeat scroll 90px 9px #D71700;
    color:#FFFFFF;
    border:none;/*clear out inherited*/
    -moz-border-radius: 10px;/*old versions of FF and safari*/
    -webkit-border-radius:10px;
    border-radius: 10px;
    padding:7px 17px 7px 7px;
    display:block;
    margin-left:180px;
    cursor: pointer; 
    margin-bottom:25px;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    font-family:Arial, sans-serif;
    width:106px;
}
.tfk-jump-reminder {text-align:center;margin-top:10px;}
div.ui-dialog-buttonset {
    float:left;
}
#tfk-jump-button-description {
    float:right;
    margin-right:178px;
    font-size: 12px;
}
#tfk-jump-continue {
    margin-top:7px;
    padding:0;
}
#tfk-jump-back {
    margin-top:44px;
}